<section *ngIf="items.length" class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Дополнительные услуги:</h2>
  <dl class="form__fieldset" formArrayName="items">
    <ng-container *ngFor="let itemGroup of items.controls; let i = index">
      <ng-container [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;">
          <ng-container *ngIf="(control.key === FormControlName.Sum)
          || (control.key === FormControlName.Tel); else checkbox">
            <dd *ngIf="getCheckbox(i, items.controls).value">
              <label [for]="control.key" class="form__label"
                     [class.form__label--invalid]="control.value.invalid">
                {{control.key === FormControlName.Sum ? 'Объявленная ценность:' : 'Номер телефона:'}}
                <sup class="form__required" *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
              </label>
              <app-input
                [type]="FormFieldMeta[control.key].type"
                [formControlName]="control.key"
                [mask]="FormFieldMeta[control.key].mask"
                [prefix]="FormFieldMeta[control.key].prefix"
                [suffix]="FormFieldMeta[control.key].suffix"
                [dropSpecialCharacters]="FormFieldMeta[control.key].dropSpecialCharacters"
                [showMaskTyped]="FormFieldMeta[control.key].showMaskTyped"
                [maxlength]="FormFieldMeta[control.key].maxlength"
                [inputmode]="FormFieldMeta[control.key].inputmode"
                [invalid]="control.value.invalid && control.value.touched"
              ></app-input>
              <ng-container *ngIf="control.key === FormControlName.Sum">
                <div class="form__error" *ngIf="control.value.errors && control.value.errors.max" style="margin-top: 5px;font-size: 10px;">
                  <span>Максимальная сумма страхования {{control.value.errors.max.max}} руб.</span>
                </div>
<!--                <div class="form__meta">Стоимость страхования: {{insuranceSum | currency: 'RUB':'symbol-narrow':'1.0':'ru'}}</div>-->
              </ng-container>
            </dd>
          </ng-container>
          <ng-template #checkbox>
            <dt>
              <app-checkbox
                [formControlName]="control.key"
                (change)="setActiveCheckbox(control.key)">
                <div class="text">
                  {{formattedData[control.key].name}}
                </div>
<!--                <ng-container class="help">-->
<!--                  <span ngxTippy-->
<!--                           [tippyProps]="tippyProps" [attr.data-tippy-content]="TooltipText[control.key]">-->
<!--                    <app-icon name="help-circle" width="18" height="18"></app-icon>-->
<!--                  </span>-->
<!--                </ng-container>-->
              </app-checkbox>
            </dt>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  </dl>
</section>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
