<div class="page__container">
  <h1 class="page__title">Как получить посылку</h1>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <ol class="list list--numbers">
      <li class="list__item">
        <div class="list__content">
          <p>Вы можете забрать посылку в одном из наших филиалов.</p>
          <app-link mods="lg, blue" (click)="showCitiesModal($event)">Смотреть адреса филиалов</app-link>
        </div>
      </li>
      <li class="list__item">Если вы получаете посылку в населенном пункте, где нет <br class="br br--show-md">нашего филиала,
        то вам необходимо встретить автобус на <br class="br br--show-md">автостанции и забрать посылку у водителя.
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>После того, как ваша посылка будет оправлена, <br class="br br--show-md">вам придет смс с информацией: номер заказа,
            гос. номер <br class="br br--show-md">автобуса, маршрут, приблизительное время прибытия <br class="br br--show-md">автобуса</p>
          <p>Обращаем ваше внимание, что автобусы могут <br class="br br--show-md">задерживаться в дороге или, наоборот, могут приехать <br class="br br--show-md">раньше.
            Поэтому необходимо прибыть на станцию за 20 минут <br class="br br--show-md">до указанного в смс времени, а также не <br class="br br--show-md">торопитесь уезжать,
            если автобус не приехал вовремя.
          </p>
        </div>
      </li>
      <li class="list__item">Для получения посылки вам понадобятся документы, <br class="br br--show-md">удостоверяющие личность
        (паспорт, военный билет или <br class="br br--show-md">водительское удостоверение).
      </li>
    </ol>
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Правила приемки и отправки грузов'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg, blue">Открыть файл</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
