<div class="page__container page__container--col-2">
  <div class="page__content">
    <h1 class="page__title">Экспресс-доставка грузов и документов по всей России из Владивостока от&nbsp;2&nbsp;до&nbsp;4&nbsp;дней!</h1>
    <app-kce-map></app-kce-map>
  </div>
  <app-calc-box></app-calc-box>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <h2 class="title title--sm">Мы являемся официальным представителем <br class="br br--show-sm">федеральной компании «Курьер Сервис Экспресс».</h2>
    <app-services></app-services>
  </div>
</div>

<section class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Нужна консультация специалиста?</h2>
    <p class="subtitle subtitle--md">Закажите обратный звонок и мы свяжемся с вами в ближайшее время!</p>
    <app-support-form></app-support-form>
  </div>
</section>
