<div class="page__container">
  <h1 class="page__title">Решаем нестандартные <br class="br br--show-md">логистические задачи в Приморском крае!</h1>
  <p class="page__subtitle">Нужно организовать доставку нестандартного груза в очень сжатые сроки? Трудно найти исполнителя? <br class="br br--show-md">Мы предложим индивидуальное решение вашей задачи!</p>
  <section class="page-section">
    <h2 class="title title--md">Реальные примеры:</h2>
    <div class="row row--cards">
      <app-card *ngFor="let post of examples" [title]="post.title" img="{{imagesPath}}/{{post.id}}">
        <div [outerHTML]="getPartOfText(post.text)"></div>
        <app-link [routerLink]="['post', post.id]" mods="blue, no-underline">Читать далее</app-link>
      </app-card>
    </div>
  </section>
</div>
<section class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Нужна консультация специалиста?</h2>
    <p class="subtitle subtitle--md">Опишите вашу задачу, и мы свяжемся с вами в ближайшее время.</p>
    <app-support-form></app-support-form>
  </div>
</section>

<!--<div class="page-section page-section&#45;&#45;theme-primary">-->
<!--  <div class="page-section__container">-->
<!--    <h2 class="title title&#45;&#45;md">Закажите звонок менеджера</h2>-->
<!--    <p class="subtitle subtitle&#45;&#45;md">Оставьте свой номер телефона и мы перезвоним вам в ближайшее время</p>-->
<!--    <form action="#" class="form form&#45;&#45;max-w-820" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">-->
<!--      <div class="form__fieldset form__fieldset&#45;&#45;2-col-sm form__fieldset&#45;&#45;align-end">-->
<!--        <div class="form__field">-->
<!--          <label for="tel" class="form__label form__label&#45;&#45;light"-->
<!--                 [class.form__label&#45;&#45;invalid]="form.get(FormControlName.Tel).invalid && form.get(FormControlName.Tel).touched">-->
<!--            {{FormFieldMeta[FormControlName.Tel].label}}-->
<!--            <sup class="form__required" *ngIf="form.get(FormControlName.Tel).errors &&-->
<!--           form.get(FormControlName.Tel).hasError('required')">*</sup>-->
<!--          </label>-->
<!--          <app-input-->
<!--            id="tel"-->
<!--            [type]="FormFieldMeta[FormControlName.Tel].type"-->
<!--            [formControlName]="FormControlName.Tel"-->
<!--            [mask]="FormFieldMeta[FormControlName.Tel].mask"-->
<!--            [prefix]="FormFieldMeta[FormControlName.Tel].prefix"-->
<!--            [dropSpecialCharacters]="FormFieldMeta[FormControlName.Tel].dropSpecialCharacters"-->
<!--            [showMaskTyped]="FormFieldMeta[FormControlName.Tel].showMaskTyped"-->
<!--            [isInvalid]="(form.get(FormControlName.Tel).invalid-->
<!--           && form.get(FormControlName.Tel).touched) && 'invalid'"-->
<!--            mods="clean"-->
<!--          >-->
<!--&lt;!&ndash;            <ng-container class="errors">&ndash;&gt;-->
<!--&lt;!&ndash;              <small *ngIf="utils.getObjectKey(form.get(FormControlName.Tel).errors).length">&ndash;&gt;-->
<!--&lt;!&ndash;                {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Tel).errors)[0]]}}&ndash;&gt;-->
<!--&lt;!&ndash;              </small>&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-container>&ndash;&gt;-->
<!--          </app-input>-->
<!--        </div>-->
<!--        <div class="form__field">-->
<!--          <app-btn mods="lg, black, max-w-270" [disabled]="form.invalid || (!form.invalid && isLoading)">-->
<!--            <div *ngIf="isLoading; else text" style="height: inherit; display: flex; justify-content: center; align-items: center">-->
<!--              <app-loader mods="sm"></app-loader>-->
<!--            </div>-->
<!--            <ng-template #text>-->
<!--              Отправить заявку-->
<!--            </ng-template>-->
<!--          </app-btn>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form__fieldset form__fieldset&#45;&#45;2-col-sm">-->
<!--        <div class="form__field form__field&#45;&#45;full">-->
<!--          <app-checkbox [formControlName]="FormControlName.Agree" mods="md"-->
<!--            (change)="executeCaptcha(invisible)" [disabled]="form.get(FormControlName.Captcha).value">-->
<!--            <ng-container class="text">-->
<!--              Нажимая кнопку «Отправить», я даю свое согласие на-->
<!--              <app-link (click)="confirm($event)">обработку моих персональных данных</app-link>-->
<!--            </ng-container>-->
<!--          </app-checkbox>-->
<!--          <re-captcha size="invisible" #invisible-->
<!--                      [formControlName]="FormControlName.Captcha" (resolved)="captchaResolved($event)">-->
<!--          </re-captcha>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
