<div class="team">
  <div class="team__img">
    <app-img name="{{imagesPath}}/team" [breakpoints]='{sm: true}' alt="Команда"></app-img>
  </div>
  <h2 class="team__title">Баскурьер — Команда</h2>
  <b class="team__text">Наша команда становится крепче <br class="br br--show-md br--hide-lg">когда мы:</b>
  <app-list [data]="list"></app-list>
</div>
