<article class="location-selector">
  <button type="button" class="location-selector__btn" (click)="toggleDropdown()">
    <app-icon name="location-arrow" width="15" height="15"></app-icon>
    <span>{{currentCity}}</span>
  </button>
  <div *ngIf="isOpen" class="location-selector__dropdown" [@dropdown]="">
    <div class="location-selector__header">
      <button type="button" class="location-selector__close" (click)="toggleDropdown()">
        <app-icon name="close" width="22" height="22"></app-icon>
      </button>
    </div>
    <div *ngFor="let region of regions" class="location-selector__column">
      <h2 class="location-selector__title">{{region.name}}</h2>
      <ul class="location-selector__list">
        <li *ngFor="let city of region.cities" class="location-selector__item">
          <a class="location-selector__link" (click)="selectCity(city)">{{city.name}}</a>
<!--          <a *ngIf="city.link" class="location-selector__link location-selector__link&#45;&#45;more">{{city.link}}</a>-->
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isOpen" class="location-selector__backdrop" (click)="toggleDropdown()"></div>
</article>
