<div #tabs class="pickup-tabs">
  <button #btn *ngFor="let point of points | keyvalue: utils.originalOrder;"
    type="button" class="pickup-tabs__btn"
    [class.pickup-tabs__btn--active]="activeTab === point.key" (click)="showTab(point.key, btn)">
    <div>{{ point.key }} <span>({{ point.value.length }} отделений)</span></div>
    <app-icon [name]="activeTab === point.key ? 'caret-up' : 'caret-down'" width="8" height="4"></app-icon>
  </button>

<!--  <ng-template ngFor let-breadcrumb [ngForOf]="pick" ></ng-template>-->
  <div *ngFor="let point of points | keyvalue: utils.originalOrder;" class="pickup-tabs__panel" [class.pickup-tabs__panel--active]="activeTab === point.key">
    <div *ngIf="activeTab === point.key" class="pickup-tabs__content" [@activeTab]="">
      <app-pickup (change)="onPickupChange($event)" [id]="point.key" [cities]="point.value"></app-pickup>
      <app-map
        *ngIf="minWidthMD && currentCityPoint.coords.length" mods="pickup"
        [points]="currentCityPoint.coords"
        [latitude]="currentCityPoint.coords[0].geo_x"
        [longitude]="currentCityPoint.coords[0].geo_y"
        [zoom]="12"
        [disableDefaultUI]="false"
        [gestureHandling]="true"
        [scrollwheel]="false"
        [styles]="[{
          stylers: [{
            saturation: -100
          }]
        }]"
      ></app-map>
    </div>
  </div>
</div>

