@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.pickup-tabs {
  $tabs-nav-space: 4px;
  $tab-nav-border-height: 2px;

  position: relative;
  left: -15px;
  margin-top: 40px;
  width: calc(100% + 30px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);

  @include media-breakpoint-up(md) {
    left: unset;
    width: unset;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: $tabs-nav-space;
  }

  &__btn {
    position: relative;
    margin-bottom: 10px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    color: $black-color;
    text-align: center;
    text-decoration: none;
    border: none;
    border-bottom: $tab-nav-border-height solid transparent;
    background-color: $gray-light-color--up-5;
    transition: background-color $transition-time ease-in;
    user-select: none;
    cursor: pointer;

    @include hover {
      background-color: lighten($gray-light-color, 8%);
    }

    @include active {
      background-color: $white-color;
    }

    @include focus {
      outline: none;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      justify-content: center;
    }

    &:nth-of-type(1) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;

      @include media-breakpoint-up(md) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    &:nth-of-type(2) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      @include media-breakpoint-up(md) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    &:nth-of-type(3) {
      grid-column: 1 / -1;
      grid-row: 5 / 6;

      @include media-breakpoint-up(md) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }

    &:nth-of-type(4) {
      grid-column: 1 / -1;
      grid-row: 7 / 8;

      @include media-breakpoint-up(md) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
    }

    &--active {
      background-color: $white-color;
      box-shadow: 0 -6px 6px -6px rgba($black-color, 7%);
      transition: box-shadow $transition-time ease-in;

      @include media-breakpoint-up(md) {
        //color: $black-color;
        //background-color: $white-color;
        //border-color: $primary-color;
        box-shadow: none;

        &::before,
        &::after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: calc(100% + #{$tabs-nav-space} * 2);
          height: $tab-nav-border-height;
          background-color: $primary-color;
        }
      }

      @include hover {
        background-color: $white-color;
      }
    }
  }

  &__btn span {
    font-size: 14px;
    line-height: 1.3;
    //color: $gray-dark-color;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__btn app-icon {
    display: inherit;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__panel {
    $panel-padding-top: 40px;
    $panel-margin-bottom: 30px;

    padding: 0 15px;

    @include media-breakpoint-up(md) {
      padding: $panel-padding-top 0 0 0;
    }

    &:nth-of-type(1) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      @include media-breakpoint-up(md) {
        grid-row: 2 / 3;
      }
    }

    &:nth-of-type(2) {
      grid-column: 1 / -1;
      grid-row: 4 / 5;

      @include media-breakpoint-up(md) {
        grid-row: 2 / 3;
      }
    }

    &:nth-of-type(3) {
      grid-column: 1 / -1;
      grid-row: 6 / 7;

      @include media-breakpoint-up(md) {
        grid-row: 2 / 3;
      }
    }

    &:nth-of-type(4) {
      grid-column: 1 / -1;
      grid-row: 8 / 9;

      @include media-breakpoint-up(md) {
        grid-row: 2 / 3;
      }
    }

    &--active {
      z-index: 10;
    }
  }

  &__content {
    width: 100%;

    .pickup-tabs__panel--active & {
      margin-bottom: 30px;
    }

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
    }
  }
}
