<div class="page__container page__container--col-2">
  <h1 class="page__title">Упаковка грузов</h1>
  <p class="page__subtitle">Правильно выбранная упаковка обеспечит целостность и&nbsp;сохранность вашего груза при перевозке.
    Мы&nbsp;подобрали для вас большой ассортимент надежных упаковочных материалов, для самых разнообразных видов отправлений.</p>
</div>
<div class="page__container page__container--col-2">
  <div class="page__content">
    <app-package-box
      title="Коробки картонные"
      text="Это надежная упаковка, которая используется для защиты грузов от&nbsp;деформации и&nbsp;загрязнений,
      позволяет компактно упаковать несколько видов грузов вместе."
      img="{{imagesPath}}/package-1"
      count="1"
    >
      <app-table
        [head]='["Название", "Размер", "Цена"]'
        [body]='[["Мини", "150 х 150 х 150", "50 руб"], ["Маленькая", "380 х 285 х 142", "80 руб"],
          ["Средняя", "450 х 450 х 300", "120 руб"], ["Большая", "680 х 470 х 470", "180 руб"]]'
        headerMods="uppercase, primary"
      >
      </app-table>
    </app-package-box>
    <app-package-box
      title="Пленка стрейч черная"
      text="Используется для ценных грузов, чтобы исключить идентификацию грузов по упаковке."
      label="<b>30 руб.</b> за 1 метр"
      img="{{imagesPath}}/package-2"
      count="2"
    ></app-package-box>
    <app-package-box
      title="Пленка стрейч прозрачная"
      text="Используется для упаковки пакетов, деталей нестандартных форм для защиты от внешних повреждений (не хрупких и
      не подверженных деформации), упаковки коробок и иных видов грузов для защиты от влаги и доступа к содержимому."
      label="<b>10 руб.</b> за 1 метр"
      img="{{imagesPath}}/package-3"
      count="3"
    ></app-package-box>
    <app-package-box
      title="Пленка пузырчатая полиэтиленовая"
      text="Используется для дополнительной защиты от повреждения хрупких грузов."
      label="<b>80 руб.</b> за 1 метр"
      img="{{imagesPath}}/package-4"
      count="4"
    ></app-package-box>
    <app-package-box
      title="Мешок полипропиленовый с пломбой"
      text="Используется для упаковки небольших, ценных и мягких грузов, партий мелких грузов. Помогает сохранить груз
      чистым и препятствует рассыпанию. Пломба служит гарантией защиты груза от доступа к содержимому третьими лицами."
      label="<b>30 руб.</b> за мешок, <b>18 руб.</b> за пломбу"
      img="{{imagesPath}}/package-5"
      count="5"
    ></app-package-box>
    <app-package-box
      title="Сейф-пакет"
      text="Используется для упаковки документов, ценных грузов, мелких грузов (ключей, мелких деталей и т.д.).
      Защитная полоса исключает доступ к содержимому третьими лицами."
      img="{{imagesPath}}/package-6"
      count="6"
    >
      <app-table
        [head]='["Название", "Размер", "Цена"]'
        [body]='[["Мини", "162 x 220 x 40", "15 руб."], ["Маленький", "205 х 295 х 45", "20 руб."],
          ["Большой", "296 х 400 х 45", "30 руб."]]'
        headerMods="uppercase, primary"
      >
      </app-table>
    </app-package-box>
    <app-alert mods="under-list">
      <app-icon name="attention" width="50" height="45"></app-icon>
      <b>Важно!</b> Упаковка груза должна обеспечивать его сохранность
      в процессе доставки и исключать возможность причинения вреда или повреждения другим грузам.
    </app-alert>
    <app-media [data]="{title: 'Вы можете скачать файл «Правила приемки<br /> и отправки грузов» в формате PDF'}" mods="under-list, theme-two">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg">Скачать</app-link>
      </ng-container>
    </app-media>
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Тарифы на упаковку'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Упаковка_прайс.pdf" mods="lg, blue">Открыть файл</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
