<div class="points-list">
  <app-loader *ngIf="!offices.length && isLoading"></app-loader>
  <p *ngIf="!offices.length && !isLoading" class="points-list__empty">Нет данных...</p>
  <ul *ngIf="offices.length && !isLoading" class="points-list__scroll">
    <li *ngFor="let office of offices" class="points-list__item">
      <app-link mods="blue, lg" (click)="changeOffice(office.id)">{{ office.name }}</app-link>
      <button class="points-list__action"
              [class.points-list__action--selected]="+office.get" ngxTippy [tippyProps]="tippyProps" data-tippy-content="Выдача грузов">
        <app-icon name="get" width="18" height="18"></app-icon>
      </button>
      <button class="points-list__action"
              [class.points-list__action--selected]="+office.give" ngxTippy [tippyProps]="tippyProps" data-tippy-content="Прием грузов">
        <app-icon name="give" width="18" height="18"></app-icon>
      </button>
      <button class="points-list__action"
          [class.points-list__action--selected]="office.id === '1'" ngxTippy [tippyProps]="tippyProps" data-tippy-content="Офис">
        <app-icon name="office" width="18" height="18"></app-icon>
      </button>
      <div class="points-list__text">{{ office.address }}</div>
<!--      <div *ngIf="point.status" class="points-list__text points-list__text&#45;&#45;status">{{point.status}}</div>-->
    </li>
  </ul>
</div>
