<div *ngIf="data" class="page__container">
  <div class="post">
    <div class="post__img">
      <img src="{{imagesPath}}/{{data.id}}--xl.jpg" width="100%" height="550px" [alt]="data.title">
<!--      <app-ribbon>-->
<!--        Выполнили<br /> за <b>24</b> часа-->
<!--      </app-ribbon>-->
    </div>
    <h1 class="post__title">{{data.title}}</h1>
    <div [outerHTML]="data.text"></div>
  </div>
</div>
