@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.post {

  &__img {
    position: relative;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }

    img {
      height: 550px;
      object-fit: cover;
    }
  }

  &__ribbon {
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: #59324C;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      height: 0;
      width: 0;
      top: -8.5px;
      left: 0.1px;
      border-bottom: 9px solid black;
      border-left: 9px solid transparent;
    }

    &::after {
      height: 0;
      width: 0;
      right: -14.5px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 15px solid #59324C;
    }
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: $font-family;
    font-size: 20px;
    line-height: 26px;

    @include media-breakpoint-up(sm) {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 34px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 34px;
      line-height: 40px;
    }
  }

  ::ng-deep b {
    font-family: $font-family--secondary;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  ::ng-deep ul li {
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 26px;
  }
}
