<ng-container *ngIf="contentLoaded && data">
<!--  <section class="form__section form__section&#45;&#45;w-underline">-->
<!--    <h2 class="form__heading form__heading&#45;&#45;w-counter">Автор</h2>-->
<!--    <app-data-list [data]="author"></app-data-list>-->
<!--  </section>-->
  <section class="form__section form__section--w-underline">
    <h2 class="form__heading form__heading--w-counter">Отправитель</h2>
    <app-data-list [data]="sender"></app-data-list>
  </section>
  <section class="form__section form__section--w-underline">
    <h2 class="form__heading form__heading--w-counter">Пункт отправления</h2>
    <app-data-list [data]="departurePoint"></app-data-list>
  </section>
  <section class="form__section form__section--w-underline">
    <h2 class="form__heading form__heading--w-counter">Получатель</h2>
    <app-data-list [data]="recipient"></app-data-list>
  </section>
  <section class="form__section form__section--w-underline">
    <h2 class="form__heading form__heading--w-counter">Пункт получения</h2>
    <app-data-list [data]="deliveryPoint"></app-data-list>
  </section>
  <section *ngFor="let order of orders.orders; let orderIndex = index" class="form__section form__section--w-underline">
    <h2 class="form__heading form__heading--w-counter">Заказ №{{orderIndex + 1}}</h2>
<!--    <app-data-list [data]="setCargoType(CargoName[order.activeCargo])"></app-data-list>-->
    <ng-container *ngIf="order.activeCargo === Cargo.Parcels">
      <ng-container *ngFor="let parcels of order.cargo[order.activeCargo]; let i = index">
        <div class="form__mark">Посылка №{{i + 1}}</div>
        <app-data-list [data]="formatParcel(parcels)"></app-data-list>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="order.activeCargo === Cargo.Docs">
      <app-data-list [data]="formatDocs(order.cargo[order.activeCargo][FormControlName.Count])"></app-data-list>
    </ng-container>
    <ng-container *ngIf="order.activeCargo === Cargo.AutoParts">
      <app-data-list [data]="formatAutoparts(order.cargo[order.activeCargo])"></app-data-list>
<!--      <ng-container *ngFor="let part of order.cargo[order.activeCargo]; let i = index">-->
<!--        <div class="form__mark">Место №{{i + 1}}</div>-->
<!--        <app-data-list [data]="formatAutoparts(part)"></app-data-list>-->
<!--      </ng-container>-->
    </ng-container>
    <ng-container *ngIf="order.activeCargo === Cargo.Other">
      <app-data-list [data]="formatOther(order.cargo[order.activeCargo])"></app-data-list>
    </ng-container>
    <app-data-list [data]="formatPackage(order.package)"></app-data-list>
    <ng-container *ngIf="order.services && formatServices(order.services).length">
      <app-data-list [data]="formatServices(order.services)"></app-data-list>
    </ng-container>
  </section>
</ng-container>
