<app-notification *ngIf="!isSticky && !isNotificationClosed" (closed)="isNotificationClosed = true"></app-notification>
<header id="pageHeader" class="page-header" [class.page-header--sticky]="isSticky" #header>
  <div class="page-header__content">
    <div class="page-header__inner">
      <a routerLink="/" class="page-header__logo">
        <app-icon name="header-logo"></app-icon>
      </a>
      <div class="page-header__top">
        <div class="page-header__location">
          <app-location-selector></app-location-selector>
        </div>
        <a href="tel:+74232026532" class="page-header__contact mgo-number-13954">
          <app-icon name="phone" width="15" height="15"></app-icon>
          <span>+7 4232 026532</span>
        </a>
<!--        <div class="page-header__user">-->
<!--          <app-header-user></app-header-user>-->
<!--        </div>-->
        <div class="page-header__open">
          <button type="button" (click)="openMobileNav()">
            <app-icon name="burger" width="24" height="17"></app-icon>
          </button>
        </div>
      </div>
      <nav class="page-header__nav">
        <app-main-nav></app-main-nav>
        <a href="tel:+74232026532" class="page-header__contact page-header__contact--sticky mgo-number-13954">
          <app-icon name="phone" width="15" height="15"></app-icon>
          <span>+7 4232 026532</span>
        </a>
<!--        <div class="page-header__user page-header__user&#45;&#45;sticky">-->
<!--          <app-header-user></app-header-user>-->
<!--        </div>-->
      </nav>
      <app-mobile-nav [isOpen]="mobileNavIsOpen" (onClose)="closeMobileNav($event)"></app-mobile-nav>
    </div>
    <div class="page-header__breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </div>
  </div>
</header>
