<article [class]="cssClass">
  <img class="card__img"
       src="{{img}}.jpg"
       srcset="{{img}}@2x.jpg 2x, {{img}}@3x.jpg 3x">
  <h1 class="card__title">{{title}}</h1>
  <p class="card__text">
    <ng-content></ng-content>
  </p>
</article>
