@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.departments {

  &__container {
    @include container();

    height: 650px;

    background-image: url("/assets/images/pages/work-in-team/components/departments/images/map.svg");
    background-repeat: no-repeat;
    background-size: 450px auto;
    background-position: 43% -10px;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      grid-column-gap: 15px;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: start;
    }
  }

  &__col {
    position: relative;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__col--khv {
    padding-top: 100px;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }

  &__col--prim {
    margin-top: 160px;
    margin-right: auto;
    margin-left: 45px;
    align-items: flex-end;
    justify-content: flex-end;

    @include media-breakpoint-up(md) {
      margin-bottom: 165px;
    }
  }

  &__item {
    margin-left: 10px;
    width: 330px;
    min-height: 130px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;

    @include media-breakpoint-up(sm) {
      margin-left: 25px;
    }

    @include media-breakpoint-up(md) {
      width: 300px;
    }

    @include media-breakpoint-up(lg) {
      width: 330px;
    }

    &::before {
      content: attr(data-count);
      font-family: $font-family;
      font-size: 82px;
      line-height: 82px;
      grid-row: 1 / -1;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-family: $font-family--secondary;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
  }

  &__text {
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 23px;
  }
}

