<div class="departments">
  <div class="departments__container">
   <div class="departments__col departments__col--khv">
     <div class="departments__item" data-count="1">
       <b class="departments__title">филиал<br class="br br--show-xs" />в Хабаровске</b>
     </div>
   </div>
    <div class="departments__col departments__col--prim">
      <div class="departments__item" data-count="6">
        <b class="departments__title">Филиалов<br class="br br--show-xs" />в Приморском крае</b>
        <div class="departments__text">Владивосток (3 филиала),
          <br class="br br--show-xs"/>Артем,<br > Находка,<br /> Уссурийск</div>
      </div>
    </div>
  </div>
</div>
