<ng-container *ngIf="types.length && services.length; else loading" [formGroup]="formGroup">
<!--  <div class="form__fieldset form__fieldset&#45;&#45;tags">-->
<!--    <app-tag *ngFor="let control of orders.controls; let i = index;"-->
<!--             [index]="i"-->
<!--             [formControlName]="FormControlName.Active"-->
<!--             [checked]="formGroup.get(FormControlName.Active).value === i"-->
<!--             [disabled]="(formGroup.get(FormControlName.Active).value !== i) && isSomeControlInvalid"-->
<!--             (delete)="deleteOrder($event)"-->
<!--             [invalid]="control.invalid">-->
<!--      Заказ №{{i + 1}}-->
<!--    </app-tag>-->
<!--    <app-tag type="add" (click)="addOrder()" [disabled]="isSomeControlInvalid"></app-tag>-->
<!--  </div>-->
  <div *ngIf="orders.controls.length" [formArrayName]="FormControlName.Orders">
    <ng-template ngFor let-item [ngForOf]="orders.controls" let-i = index>
      <ng-container *ngIf="formGroup.get(FormControlName.Active).value === i">
        <app-order-form [departure]="departure" [delivery]="delivery" [types]="types" [services]="services" [formControlName]="i"></app-order-form>
      </ng-container>
    </ng-template>
  </div>
</ng-container>
<ng-template #loading>
  <app-loader mods="orders"></app-loader>
</ng-template>
