<form class="form form--no-margin form--task" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">
  <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
    <div class="form__field">
      <label class="form__label form__label--light"
             [class.form__label--invalid]="form.get(FormControlName.Fio).invalid && form.get(FormControlName.Fio).touched">
        Имя
        <sup class="form__required" *ngIf="form.get(FormControlName.Fio).errors && form.get(FormControlName.Fio).hasError('required')">*</sup>
      </label>
      <app-input type="text"
         [formControlName]="FormControlName.Fio"
         [invalid]="form.get(FormControlName.Fio).invalid && form.get(FormControlName.Fio).touched">
<!--        <ng-container class="errors">-->
<!--          <small *ngIf="utils.getObjectKey(form.get(FormControlName.Fio).errors).length">-->
<!--            {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Fio).errors)[0]]}}-->
<!--          </small>-->
<!--        </ng-container>-->
      </app-input>
    </div>
    <div class="form__field">
      <label class="form__label form__label--light"
             [class.form__label--invalid]="form.get(FormControlName.Tel).invalid && form.get(FormControlName.Tel).touched">
        Телефон
        <sup class="form__required" *ngIf="form.get(FormControlName.Tel).errors && form.get(FormControlName.Tel).hasError('required')">*</sup>
      </label>
      <app-input type="tel"
         [formControlName]="FormControlName.Tel"
         [mask]="FormFieldMeta[FormControlName.Tel].mask"
         [prefix]="FormFieldMeta[FormControlName.Tel].prefix"
         [dropSpecialCharacters]="FormFieldMeta[FormControlName.Tel].dropSpecialCharacters"
         [showMaskTyped]="FormFieldMeta[FormControlName.Tel].showMaskTyped"
         [inputmode]="FormFieldMeta[FormControlName.Tel].inputmode"
         [invalid]="form.get(FormControlName.Tel).invalid && form.get(FormControlName.Tel).touched">
<!--        <ng-container class="errors">-->
<!--          <small *ngIf="utils.getObjectKey(form.get(FormControlName.Fio).errors).length">-->
<!--            {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Fio).errors)[0]]}}-->
<!--          </small>-->
<!--        </ng-container>-->
      </app-input>
    </div>
    <div class="form__field form__field--full">
      <div class="form__field">
        <label class="form__label form__label--light"
               [class.form__label--invalid]="form.get(FormControlName.Email).invalid
               && form.get(FormControlName.Email).touched">
          Email
          <sup class="form__required" *ngIf="form.get(FormControlName.Email).errors
          && form.get(FormControlName.Email).hasError('required')">*</sup>
        </label>
        <app-input type="email"
                   [formControlName]="FormControlName.Email"
                   [inputmode]="FormFieldMeta[FormControlName.Email].inputmode"
                   [invalid]="form.get(FormControlName.Email).invalid && form.get(FormControlName.Email).touched">
          <!--        <ng-container class="errors">-->
          <!--          <small *ngIf="utils.getObjectKey(form.get(FormControlName.Fio).errors).length">-->
          <!--            {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Fio).errors)[0]]}}-->
          <!--          </small>-->
          <!--        </ng-container>-->
        </app-input>
      </div>
    </div>
    <div class="form__field form__field--full">
      <label for="question" class="form__label form__label--light"
       [class.form__label--invalid]="form.get(FormControlName.Question).invalid && form.get(FormControlName.Question).touched">
        Опишите вашу задачу
        <sup class="form__required" *ngIf="form.get(FormControlName.Question).errors
        && form.get(FormControlName.Question).hasError('required')">*</sup>
      </label>
      <app-input
        id="question"
        type="textarea"
        [formControlName]="FormControlName.Question"
        [invalid]="(form.get(FormControlName.Question).invalid
           && form.get(FormControlName.Question).touched)"
      >
<!--        <ng-container class="errors">-->
<!--          <small *ngIf="utils.getObjectKey(form.get(FormControlName.Question).errors).length">-->
<!--            {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Question).errors)[0]]}}-->
<!--          </small>-->
<!--        </ng-container>-->
      </app-input>
    </div>
    <div class="form__field form__field--full">
      <app-checkbox [formControlName]="FormControlName.Agree"
          mods="md, inverted" (change)="executeCaptcha(invisible)" [disabled]="form.get(FormControlName.Captcha).value">
        <ng-container class="text">
          Нажимая кнопку «Отправить», я даю свое согласие на
          <app-link (click)="confirm($event)">обработку моих персональных данных</app-link>
        </ng-container>
      </app-checkbox>
      <re-captcha size="invisible" #invisible
                  [formControlName]="FormControlName.Captcha" (resolved)="captchaResolved($event)">
      </re-captcha>
    </div>
  </div>
  <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
    <app-btn mods="lg, black, w-full" [disabled]="form.invalid || (!form.invalid && isLoading)">
      <app-loader *ngIf="isLoading; else text" mods="sm"></app-loader>
      <ng-template #text>
        Отправить заявку
      </ng-template>
    </app-btn>
  </div>
</form>
