
<div class="page__container">
  <h1 class="page__title">Вызвать курьера<br class="br br--show-md">в городах Приморского края</h1>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <ol class="list list--numbers">
      <li class="list__item">
        <div class="list__content">
          <p>Убедитесь, что в нужном вам городе действует услуга «Вызов <br class="br br--show-md">курьера».</p>
          <p><b>Список городов, где есть услуга «Вызов курьера»
            <br class="br br--show-md">в Приморском крае:</b>
          </p>
          <app-list [data]="cities"></app-list>
        </div>
      </li>
      <li class="list__item">
        <p>Вы можете оформить вызов курьера по номеру телефона <br><app-link [href]="'tel:' + phoneNumber" mods="blue, no-underline, in-text">
          {{phoneNumber}}</app-link> или <app-link href="/orders/quick-order/new" mods="blue, no-underline, in-text">Заполните заявку на сайте</app-link>.
          Наш менеджер <br>свяжется с вами и проинформирует о стоимости и сроках <br>доставки.</p>
      </li>
      <li class="list__item">
        <p>По прибытию в пункт забора груза с вами свяжется наш курьер, <br>заберет ваш груз и выдаст накладную заказа.</p>
      </li>
      <li class="list__item">
        <p>Оплата производится только отправителем наличным или <br>безналичным платежом.</p>
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>Отследить доставку вашего груза вы можете:</p>
          <app-list>
            <div appListItem>
              <app-icon name="check" width="24" height="20"></app-icon>
              <span>на сайте, в разделе <app-link href="/orders/track-order" mods="no-underline, blue, in-text">
                «Отследить посылку»</app-link></span>
            </div>
            <div appListItem>
              <app-icon name="check" width="24" height="20"></app-icon>
              <span>при отправлении посылки оформить дополнительную <br>услугу «смс-уведомление отправителю»</span>
            </div>
            <div appListItem>
              <app-icon name="check" width="24" height="20"></app-icon>
              <span>позвонить по номеру телефона: <app-link [href]="'tel:' + phoneNumber" mods="blue, no-underline, in-text">
              {{phoneNumber}}</app-link></span>
            </div>
          </app-list>
        </div>
      </li>
    </ol>
  </div>
  <aside class="page__sidebar">
<!--    <app-media [data]="{title: 'Вызов курьера в Приморском крае'}">-->
<!--      <ng-container class="link">-->
<!--        <app-link href="#" mods="lg, blue">Приморский край</app-link>-->
<!--      </ng-container>-->
<!--    </app-media>-->
  </aside>
</div>
