<div class="header-user" [class.header-user--logged-in]="loggedIn">
  <i class="header-user__icon">
    <app-icon *ngIf="auth.isAuthenticated()" name="user-logged" width="27" height="27"></app-icon>
    <app-icon *ngIf="!auth.isAuthenticated()" name="user-unlogged" width="40" height="40"></app-icon>
  </i>
  <button type="button" class="header-user__btn" (click)="toggleDropdown()">
    {{ auth.isAuthenticated() ? 'Личный кабинет' : 'Пользователь' }}
  </button>
  <ul *ngIf="isOpen" class="header-user__dropdown" [@dropdown]="">
    <ng-template [ngIf]="auth.isAuthenticated()">
      <li class="header-user__item">
        <a [routerLink]="['widgets', 'order']" class="header-user__link">Заказать доставку</a>
      </li>
      <li class="header-user__item">
        <a [routerLink]="['account', 'inner', 'personal']" class="header-user__link">Персональные данные</a>
      </li>
      <li class="header-user__item">
        <a class="header-user__link" (click)="logout()">Выйти</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="!auth.isAuthenticated()">
      <li class="header-user__item">
        <a class="header-user__link" (click)="showLoginModal($event)">Вход</a>
      </li>
      <li class="header-user__item">
        <a class="header-user__link" (click)="showSignInModal($event)">Регистрация</a>
      </li>
    </ng-template>
  </ul>
  <div *ngIf="isOpen" class="header-user__backdrop" (click)="toggleDropdown()"></div>
</div>
