<ul class="advantages">
  <li class="advantages__item">
    <app-icon name="time" width="52" height="52"></app-icon>
    <b class="advantages__label">Время</b>
    <div class="advantages__text">Самый ценный ресурс! Сокращая расстояния, мы экономим время своё и клиентов, а людей делаем ближе.</div>
  </li>
  <li class="advantages__item">
    <app-icon name="heart" width="52" height="52"></app-icon>
    <b class="advantages__label">Человечность</b>
    <div class="advantages__text">Каждый человек для нас личность, и мы ценим это.</div>
  </li>
  <li class="advantages__item">
    <app-icon name="services" width="52" height="52"></app-icon>
    <b class="advantages__label">Служение</b>
    <div class="advantages__text">Для нас это про социальную ответственность и желание помочь близким и окружающим.</div>
  </li>
  <li class="advantages__item">
    <app-icon name="team" width="52" height="52"></app-icon>
    <b class="advantages__label">Команда</b>
    <div class="advantages__text">Мы любим свою работу и стремимся делать её качественно.
      От каждого из нас зависит результат, поэтому мы поддерживаем друг друга во всём.</div>
  </li>
  <li class="advantages__item">
    <app-icon name="stairs" width="52" height="52"></app-icon>
    <b class="advantages__label">Развитие</b>
    <div class="advantages__text">Мы развиваемся: постоянно разрабатываем новые идеи,
      ищем оптимальные способы решения проблем. Развиваясь сами, мы помогаем бизнесу наших клиентов.</div>
  </li>
  <li class="advantages__item">
    <app-icon name="disk" width="52" height="52"></app-icon>
    <b class="advantages__label">Безопасность</b>
    <div class="advantages__text">Нам важно, чтобы каждый, кто пользуется услугами нашей компании, был уверен в том,
      что доставка грузов осуществляется в соответствии с правилами международных перевозок.</div>
  </li>
</ul>
