<div [formGroup]="formGroup">
  <div formArrayName="parcels">
    <div *ngFor="let parcelGroup of parcels.controls; let i = index">
      <app-parcel-form [departure]="departure" [delivery]="delivery" [formControlName]="i">
        <ng-container *ngIf="parcels.length > 1" class="delete">
          <app-btn type="button" mods="delete" (click)="delete(i)">
            <app-icon name="delete" width="18" height="18"></app-icon>
            Удалить
          </app-btn>
        </ng-container>
      </app-parcel-form>
    </div>
    <app-btn type="button" (click)="add()" [disabled]="isSomeParcelsInvalid" mods="max-w-270">Добавить еще 1 позицию</app-btn>
  </div>
</div>
