<ng-container [formGroup]="formGroup">
  <div class="parcel">
    <div class="parcel__body">
      <div *ngFor="let control of formUtils.getGroupControls(formGroup) | keyvalue: formUtils.originalOrder"
           class="parcel__field">
<!--        <span *ngIf="FormFieldMeta[control.key].unit" [style]="{color: control.value.invalid ? '#C74141' : '#808080'}">({{FormFieldMeta[control.key].unit}})</span>-->
        <label
          [for]="'parcel-' + control.key"
          class="parcel__label"
          [class.parcel__label--invalid]="control.value.invalid">
          {{FormFieldMeta[control.key].label}}
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
<!--        type="number"-->
<!--        maxlength="2"-->
        <app-input
          type="text"
          maxlength="6"
          inputmode="numeric"
          [mask]="FormFieldMeta[control.key].mask"
          [suffix]="' ' + FormFieldMeta[control.key].unit"
          [dropSpecialCharacters]="FormFieldMeta[control.key].dropSpecialCharacters"
          [formControlName]="control.key"
          [invalid]="(control.value.invalid && control.value.touched)
          || (control.key === FormControlName.Width || control.key === FormControlName.Height
          || control.key === FormControlName.Length) && (formGroup.errors && formGroup.errors.dimensions)"
        >
          <!--[unit]="formGroupMeta.Parcel[parcelControl.key].unit"-->
        </app-input>
      </div>
      <div class="parcel__delete">
        <label class="parcel__label">&#160;</label>
        <ng-content select=".delete"></ng-content>
      </div>
    </div>
    <div *ngIf="this.formGroup.invalid" class="parcel__error">
<!--      Параметры посылки заполнены не корректно-->
      <span *ngIf="(this.formGroup.get(FormControlName.Weight).errors
      && (this.formGroup.get(FormControlName.Weight).errors.required || this.formGroup.get(FormControlName.Weight).errors.min))
      || (this.formGroup.get(FormControlName.Width).errors
      && (this.formGroup.get(FormControlName.Width).errors.required || this.formGroup.get(FormControlName.Width).errors.min))
      || (this.formGroup.get(FormControlName.Height).errors
      && (this.formGroup.get(FormControlName.Height).errors.required || this.formGroup.get(FormControlName.Height).errors.min))
      || (this.formGroup.get(FormControlName.Length).errors
      && (this.formGroup.get(FormControlName.Length).errors.required || this.formGroup.get(FormControlName.Length).errors.min))
      || (this.formGroup.get(FormControlName.Count).errors
      && (this.formGroup.get(FormControlName.Count).errors.required || this.formGroup.get(FormControlName.Count).errors.min)); else other">
        Заполните все параметры для посылки
      </span>
     <ng-template #other>
        <span *ngIf="this.formGroup.get(FormControlName.Weight).errors
      && this.formGroup.get(FormControlName.Weight).errors.max">
        Максимальный вес посылки {{this.formGroup.get(FormControlName.Weight).errors.max.max}} кг.
      </span>
       <span *ngIf="this.formGroup.errors
      && this.formGroup.errors.dimensions">
        Габариты посылки превышают допустимые размеры на {{this.formGroup.errors.dimensions.diff}} см.
      </span>
     </ng-template>
    </div>
  </div>
</ng-container>
<!--          <ng-container class="errors">-->
<!--            <small *ngIf="getObjectKey(parcelControl.value.errors).length">{{FormFieldError[getObjectKey(parcelControl.value.errors)[0]]}}</small>-->
<!--          </ng-container>-->
