<div class="form__fieldset form__fieldset--address" [formGroup]="formGroup">
  <div *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder" class="form__field">
    <label class="form__label" [class.form__label--invalid]="control.value.invalid">
      Выберите отделение
      <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
    </label>
    <app-select
         [items]="offices"
         [formControlName]="control.key"
         searchType="includes"
         [invalid]="control.value.invalid && control.value.touched"
    >
      <ng-container class="errors">
        <small *ngIf="utils.getObjectKey(control.value.errors).length">{{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}</small>
      </ng-container>
    </app-select>
  </div>
  <div style="grid-column: 1 / -1">
    <app-link (click)="showMapModal()" mods="gray">
      <app-icon name="map" width="16" height="16"></app-icon>Посмотреть на карте
    </app-link>
  </div>
</div>
