@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.package-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($black-color, 0.8);
  z-index: 100;

  &__content {
    position: relative;
    //margin-top: 200px;
    margin-right: $container-padding-x;
    margin-left: $container-padding-x;
    padding: 45px 25px;
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $white-color;
  }

  &__close {
    @include close-button($gray-dark-color);

    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__title {
    margin: 0 0 20px 0;
    font-family: $font-family;
    font-size: 26px;
    line-height: 32px;
    //text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__text {
    margin: -12px 0 23px 0;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    color: $gray-dark-color;
    text-align: left;
  }

  &__label {
    margin-bottom: 3px;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    color: $font-color;
  }

  &__counter {
    display: flex;
    align-items: flex-end;
  }

  &__counter small {
    margin: 0 0 0 5px;
    display: none;
    font-size: 14px;
    color: $black-color;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__sum {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family--secondary;
    font-size: 30px;
    color: $primary-color;
  }

  &__btn {
    margin-top: 15px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
}
