<article [class]="cssClass" [@fadeIn]="">
  <div class="package-modal__content">
    <div class="package-modal__title">{{Package[type]}} {{data.site_name}}</div>
    <div class="package-modal__text">{{data.params}}</div>
    <button type="button" class="package-modal__close" (click)="onClose()">
      <app-icon name="close" width="22" height="22"></app-icon>
    </button>
    <span class="package-modal__label">Количество:</span>
    <div class="package-modal__row">
      <div class="package-modal__counter">
        <app-counter [formControl]="counter" mods="full"></app-counter>
        <small>{{ type === 'skin' ? 'м.' : 'шт.' }}</small>
      </div>
      <div class="package-modal__sum">
        {{(this.data.price * counter.value) | currency: 'RUB':'symbol-narrow':'1.0':'ru'}}
      </div>
    </div>
    <div class="package-modal__row" style="margin-top: 25px;">
      <app-btn type="button" (click)="onOk()" [disabled]="!counter.value">Ok</app-btn>
      <app-btn type="button" mods="black" (click)="onClose()">Oтмена</app-btn>
    </div>
  </div>
</article>
