<article class="banner">
  <div class="banner__container">
    <h1 class="banner__title">Получайте посылки из ваших <br class="br br--show-xl"/>любимых интернет-магазинов <br class="br br--show-xl"/>в наших отделениях</h1>
    <p class="banner__text">Ежедневно мы доставляем сотни посылок в <span>Приморский край </span><br class="br br--show-xs br--hide-xl" />из самых <br class="br br--show-xl"/>популярных <br class="br br--show-md  br--hide-xl"/>интернет-магазинов мира:</p>
    <p class="banner__text">ASOS, Shopping live, <br class="br br--show-md br--hide-xl"/>Lamoda, iHerb и т.д.</p>
  </div>
</article>

