<div class="page__container">
  <h1 class="page__title">Хранение грузов в Приморском крае</h1>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <p>Мы обязательно информируем получателя о прибытии груза по смс и <br class="br br--show-lg"> звонком по указанным отправителем в накладной
      контактным данным. При <br class="br br--show-lg">оформлении груза вы можете воспользоваться услугой «смс оповещение <br class="br br--show-lg">отправителя» и «расширенное смс».</p>
    <p>Также вы всегда можете узнать информацию о нахождении своего груза <br class="br br--show-lg">самостоятельно по телефону единой справочной
      <app-link [href]="'tel:' + phoneNumber" mods="blue, no-underline, in-text">{{phoneNumber}}</app-link> или <br class="br br--show-lg">
      в филиале получения груза. <app-link href="/contacts" mods="blue, no-underline, in-text">Контакты всех филиалов</app-link></p>
    <p>Бесплатное хранение отправлений в пунктах выдачи в течение суток. Свыше <br class="br br--show-lg">этого времени хранение платное – 100 рублей за каждые
      последующие <br class="br br--show-lg">сутки.</p>
    <p>Хранение невостребованных отправлений осуществляется в течение <br class="br br--show-lg">месяца. После чего подлежат изъятию и утилизации.</p>
    <p>Старайтесь забирать свои грузы вовремя!</p>
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Хранение грузов в другом городе / регионе'}">
      <ng-container class="link">
        <app-link href="#" mods="lg, blue">Скачать в PDF (80 кб)</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
