<ng-template #content><ng-content></ng-content></ng-template>
<ng-template #icon><ng-content select="app-icon"></ng-content></ng-template>

<ng-container *ngIf="href; else withoutHref">
  <a *ngIf="href.startsWith('tel:') || href.startsWith('http') || href.startsWith('mailto:');
  else router" [href]='href' [class]="cssClass" [attr.target]="href.startsWith('http') ? '_blank' : ''">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <span class="link__text">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
  </a>

  <ng-template #router>
    <a [routerLink]="href" [class]="cssClass">
      <ng-container *ngTemplateOutlet="icon"></ng-container>
      <span class="link__text">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </span>
    </a>
  </ng-template>
</ng-container>

<ng-template #withoutHref>
  <a [class]="cssClass">
    <ng-container *ngTemplateOutlet="icon"></ng-container>
    <span class="link__text">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </span>
  </a>
</ng-template>
