<div class="cargo-info">
  <article class="cargo-info__item" data-count="1">
    <div class="cargo-info__body">
      <h1 class="cargo-info__title">Документы</h1>
<!--      <div class="cargo-info__text">не более формата А4 до 1,5 см толщиной.</div>-->
      <app-table
        [head]='["Зона 1", "Зона 2", "Зона 3"]'
        [body]='[["250 руб", "300 руб", "550 руб"]]'
        withScroll="true"
        mods="clean, width-auto"
      ></app-table>
    </div>
  </article>
  <article class="cargo-info__item" data-count="2">
    <div class="cargo-info__body">
      <h1 class="cargo-info__title">Посылки</h1>
<!--      <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>-->
      <app-table
        [head]='["Вес", "Зона 1", "Зона 2", "Зона 3"]'
        [body]='[
            ["0-20 кг.", "350 руб", "450 руб", "550 руб"],
            ["20-40 кг.", "450 руб", "550 руб", "650 руб"],
            ["40-60 кг.", "550 руб", "650 руб", "750 руб"]]'
        withScroll="true"
        mods="clean, width-auto"
      ></app-table>
    </div>
  </article>
  <article class="cargo-info__item" data-count="3">
    <div class="cargo-info__body">
      <h1 class="cargo-info__title">Запчасти автомобильные</h1>
<!--      <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>-->
      <app-table
        [head]='["Вес", "Зона 1", "Зона 2", "Зона 3"]'
        [body]='[
            ["Коробка передач, автомат", "1 550 руб", "2 050 руб", "2 550 руб"],
            ["Бампер, обвесы", "950 руб", "1 150 руб", "1 750 руб"],
            ["Крыло", "750 руб", "850 руб", "950 руб"],
            ["Капот", "950 руб", "1 550 руб", "2 050 руб"],
            ["Стекло лобовое", "1 550 руб", "2 050 руб", "2 550 руб"],
            ["Колеса 2 штуки", "850 руб", "1 250 руб", "1 550 руб"],
            ["Карданный вал", "850 руб", "950 руб", "1 050 руб"],
            ["Багажник", "950 руб", "1 550 руб", "2 050 руб"],
            ["Рулевая рейка", "550 руб", "650 руб", "750 руб"],
            ["Боковая дверь", "850 руб", "1 050 руб", "1 550 руб"],
            ["Задняя дверь", "950 руб", "1 150 руб", "1 650 руб"],
            ["Редуктор от 30 кг.", "950 руб", "1 150 руб", "1 550 руб"]]'
        withScroll="true"
        mods="clean, width-auto"
      ></app-table>
    </div>
  </article>
  <article class="cargo-info__item" data-count="4">
    <div class="cargo-info__body">
      <h1 class="cargo-info__title">Другое</h1>
<!--      <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>-->
      <app-table
        [head]='["Тип груза", "Зона 1", "Зона 2", "Зона 3"]'
        [body]='[
            ["Велосипед", "1 550 руб", "2 050 руб", "2 550 руб"],
            ["Коляска", "950 руб", "1 150 руб", "1 750 руб"],
            ["Цветы", "750 руб", "850 руб", "950 руб"],
            ["Телевизор", "950 руб", "1 550 руб", "2 050 руб"]]'
        withScroll="true"
        mods="clean, width-auto"
      ></app-table>
      <div class="cargo-info__note">
        <small>* <b>Документы</b> – это папка или файл с бумагой не более формата А4 и толщиной до 1,5 см без каких-либо сторонних вложений: флешки, карты и т.д.
        </small>
        <small>* <b>Габаритная посылка</b> – это груз до 20 кг и с суммой длин трёх сторон не более 130 см (30х30х70 см). Крупногабаритные посылки рассчитываются
          на месте при приёме.</small>
      </div>
    </div>
  </article>
</div>
