<div class="about">
  <p>Мы первая в России официальная служба сверхсрочной доставки грузов междугородними рейсовыми автобусами.</p>
  <p>Мы не работаем по принципу "наборных грузов", а отправляем посылки в самое ближайшее время с момента оформления доставки.
    Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям.</p>
  <p>Мы не работаем по принципу "наборных грузов", а отправляем посылки в самое ближайшее время с момента оформления доставки.
    Это осуществляется за счет регулярного движения междугородних автобусов и наличию большого количества рейсов по многим направлениям.</p>
  <div class="about__list">
    <h3 class="about__label">Уникальность Баскурьер:</h3>
    <app-list [data]="list"></app-list>
  </div>
  <div class="about__img">
    <app-img name="{{imagesPath}}/team" [breakpoints]='{sm: true}' alt="О компании"></app-img>
  </div>
</div>
