<div class="page-contacts"
     [class.page-contacts--details]="contactsService.currentOffice$ | async"
     [class.page-contacts--map-panel]="currentTab === Tab.Map" >
  <div class="page-contacts__main">
    <div *ngIf="!isBreakpointMatched" class="page-contacts__tabs">
      <app-tabs
        name="contacts"
        [tabs]="tabs"
        (onChange)="setCurrentTab($event)"
      ></app-tabs>
    </div>
    <div class="page-contacts__filter">
      <label class="page-contacts__action active">
        <input type="radio" name="filter" hidden checked="checked" (change)="filterBy(Filter.All)">
        <div>
          <app-icon name="location" width="15" height="18"></app-icon>
          <span>Все адреса</span>
        </div>
      </label>
      <label class="page-contacts__action">
        <input type="radio" name="filter" hidden (change)="filterBy(Filter.Pickup)">
        <div>
          <app-icon name="give" width="18" height="18"></app-icon>
          <span>Прием грузов</span>
        </div>
      </label>
      <label class="page-contacts__action">
        <input type="radio" name="filter" hidden (change)="filterBy(Filter.Delivery)">
        <div>
          <app-icon name="get" width="18" height="18"></app-icon>
          <span>Выдача грузов</span>
        </div>
      </label>
      <label class="page-contacts__action">
        <input type="radio" name="filter" hidden (change)="filterBy(Filter.Office)">
        <div>
          <app-icon name="office" width="18" height="18"></app-icon>
          <span>Офис</span>
        </div>
      </label>
    </div>
    <div class="page-contacts__select">
      <app-select
        [items]="cities"
        [formControl]="cityControl"
        mods="no-shadow">
        <app-loader *ngIf="!cities.length" mods="sm"></app-loader>
      </app-select>
    </div>
    <div *ngIf="((currentTab === Tab.List) && !isBreakpointMatched) || isBreakpointMatched" class="page-contacts__list">
      <app-points-list></app-points-list>
    </div>
    <div *ngIf="((currentTab === Tab.Map) && !isBreakpointMatched) || isBreakpointMatched" class="page-contacts__map">
      <app-contacts-map></app-contacts-map>
    </div>
    <div class="page-contacts__feedback">
      <p>Единая справочная для всего Приморского края:</p>
      <div>
        <app-link href="tel: +7 (423) 205-86-27" mods="lg, no-underline">
          <app-icon class="black" name="headphone" width="19px" height="16px"></app-icon>
          +7 (423) 205-86-27
        </app-link>
      </div>
      <div>
        <app-link [href]="'mailto:' + email" mods="lg, dashed">
          <app-icon class="black" name="email" width="19px" height="16px"></app-icon>{{email}}
        </app-link>
      </div>
    </div>
<!--    <div class="page-contacts__toggle">-->
<!--      Скрыть список-->
<!--    </div>-->
    <div class="page-contacts__details">
      <app-point-card></app-point-card>
    </div>
  </div>
</div>
