
<div #container class="page__container page__container--col-2">
  <div class="page__content">
    <h1 class="page__title">Отследить посылку по номеру заказа</h1>
    <p class="page__subtitle">Вам доступна вся история движения посылки. Чтобы воспользоваться поиском, введите номер вашего заказа
      и нажмите кнопку “Найти посылку”.</p>
    <form #formContainer class="order-search" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
      <app-input type="text"
             [formControlName]="FormControlName.OrderNumber"
             [mods]="form.get(FormControlName.OrderNumber).value && 'order-number'"
             maxlength="7"
             inputmode="numeric"
             placeholder="Введите номер вашего заказа"></app-input>
      <app-btn type="submit" mods="lg" [disabled]="!form.get(FormControlName.OrderNumber).value" [disabled]="isLoading">
        Найти посылку
      </app-btn>
      <div class="order-search__meta">
        <span><sup>*</sup>7 символов</span>
        Пример: 878581
      </div>
      <div *ngIf="!isLoading && error" class="order-search__empty">
        Заказ не найден, пожалуйста проверьте номер заказа или попробуйте позже.
      </div>
    </form>
    <app-timeline *ngIf="!isLoading && orderData.length" [number]="orderNumber" [data]="orderData"></app-timeline>
    <div *ngIf="isLoading" style="margin-top: 50px">
      <app-loader></app-loader>
    </div>
    <section class="page-section page-section--top-line">
      <h2 class="title title--md title--mgt-md">Где найти номер заказа?</h2>
      <app-img name="{{imagesPath}}/order"
               [breakpoints]='{xs: true}'
               maxWidth="780px"
               alt="Пример заказа" ></app-img>
    </section>
    <section class="page-section page-section--top-line">
      <h2 class="title title--md title--mgt-md">Нужна помощь специалиста?</h2>
      <app-help-box></app-help-box>
    </section>
  </div>
</div>
