<div class="form__fieldset form__fieldset--2-col-sm form__fieldset--3-col-xl" [formGroup]="formGroup">
  <div *ngFor="let control of formUtils.getGroupControls(formGroup) | keyvalue: formUtils.originalOrder"
       class="form__field">
    <label [for]="'entity-' + control.key"
           class="form__label" [class.form__label--invalid]="control.value.invalid">
      {{FormFieldMeta[control.key].label}}
      <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
    </label>
    <app-input
      [type]="FormFieldMeta[control.key].type"
      [id]="'entity-' + control.key"
      [formControlName]="control.key"
      [mask]="FormFieldMeta[control.key].mask" [prefix]="FormFieldMeta[control.key].prefix"
      [invalid]="(control.value.invalid && control.value.touched)"
    >
      <ng-container class="errors">
        <small *ngIf="utils.getObjectKey(control.value.errors).length">
          {{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}
        </small>
      </ng-container>
    </app-input>
  </div>
</div>
