@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.social {
  margin-top: 50px;
  padding: 50px 0 30px 0;
  background-color: $primary-color;

  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }

  @include media-breakpoint-up(xl) {
    margin-top: 80px;
    padding: 90px 0 80px 0;
  }

  &__container {
    @include container();
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 25px;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 75px;
      justify-content: start;
    }

    @include media-breakpoint-up(xl) {
      grid-column-gap: 160px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 89px 1fr;
    grid-column-gap: 27px;
    align-items: center;
  }

  &__title {
    margin: 0 0 20px 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-family: $font-family;
    font-size: 28px;
    line-height: 33.6px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    border-radius: 50%;
  }

  &__link {
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 25.2px;
    color: $black-color;
    text-decoration: none;
  }

  &__link span {
    border-bottom: 1px solid rgba($black-color, 0.1);
  }
}

