<div class="social">
  <div class="social__container">
    <h2 class="social__title">Наши социальные проекты:</h2>
    <div class="social__body">
      <div class="social__item">
        <div class="social__icon">
          <app-icon name="man" width="42" height="42"></app-icon>
        </div>
        <a href="#" class="social__link">
          <span>Бесплатная доставка <br />газет пенсионерам</span>
        </a>
      </div>
      <div class="social__item">
        <div class="social__icon">
          <app-icon name="house" width="42" height="42"></app-icon>
        </div>
        <a href="#" class="social__link">
          <span>Помощь детскому <br />приюту «Ковчег»</span>
        </a>
      </div>
    </div>
  </div>
</div>
