<article [class]="cssClass" [attr.data-count]="count">
  <h1 class="package-box__title">{{title}}</h1>
  <p class="package-box__text">{{text}}</p>
  <div class="package-box__table">
    <ng-content select="app-table"></ng-content>
  </div>
  <div *ngIf="label" class="package-box__label" [innerHTML]="label"></div>
  <img *ngIf="img" class="package-box__img" width="270px" height="175px"
       src="{{img}}.jpg" srcset="{{img}}@2x.jpg 2x, {{img}}@3x.jpg 3x">
</article>
