<ng-container [formGroup]="formGroup">
 <div class="form__fieldset form__fieldset--auto-part">
   <ng-container *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder;">
     <div *ngIf="control.key === FormControlName.Item" class="form__field">
       <label class="form__label"
              [class.form__label--invalid]="control.value.invalid
              && !(delivery.courier || departure.courier || departureOfficeLimits || deliveryOfficeLimits)"
              [class.form__label--light]="control.value.disabled
              || (delivery.courier || departure.courier || departureOfficeLimits || deliveryOfficeLimits)" >
         Выберите запчасть:
         <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
       </label>
       <app-select
         *ngIf="parts.length"
         [items]="parts"
         [formControlName]="control.key"
         [invalid]="(control.value.invalid && control.value.touched)"
         [disabled]="control.value.value || (delivery.courier || departure.courier || departureOfficeLimits || deliveryOfficeLimits)"
       >
       </app-select>
     </div>
     <div *ngIf="control.key === FormControlName.Count && formGroup.get(FormControlName.Item).value" class="form__field">
       <label class="form__label" [class.form__label--invalid]="control.value.invalid">
         Количество мест:
         <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
       </label>
       <app-counter
         [formControlName]="control.key"
         [invalid]="(control.value.invalid && control.value.touched)"
         [@fadeIn]=""
       >
       </app-counter>
     </div>
   </ng-container>
   <div *ngIf="formGroup.get(FormControlName.Item).value" class="form__field">
     <div class="form__label">&#160;</div>
     <app-btn  type="button" mods="delete" (click)="clear()">
       <app-icon name="delete" width="18" height="18"></app-icon>
       Удалить
     </app-btn>
   </div>
 </div>
  <small *ngIf="delivery.courier || departure.courier" style="margin: 0; color: #C74141">
    <sup>*</sup> Невозможно выбрать автозапчасти, т.к. габариты запчастей <br />слишком большие и курьер не может их перевозить.
<!--    <ng-container *ngIf="pickup && !delivery">-->
<!--      габариты все запчастей слишком большие и курьер не может их перевозить.-->
<!--    </ng-container>-->
<!--    <ng-container *ngIf="delivery && !pickup">-->
<!--      заказ до получателя будет доставлять курьер.-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="pickup && delivery">-->
<!--      забирать заказ у отправителя и доставлять его получателю будет курьер.-->
<!--    </ng-container>-->
  </small>
  <small *ngIf="departureOfficeLimits" style="margin: 0; color: #C74141">
    <sup>*</sup>Из выбранного отделения  автозапчасти не отправляются
  </small>
  <small *ngIf="deliveryOfficeLimits" style="margin: 0; color: #C74141">
    <sup>*</sup>Выбранное отделение автозапчасти не принимает
  </small>
  <dl class="form__details">
    <dt><b>Тип груза:</b></dt>
    <dd>Пожалуйста, выберите тип запчасти из списка. Если вы не нашли подходящей запчасти, рассчитайте стоимость обычной посылки.</dd>
  </dl>
</ng-container>
