@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($black-color, 0.8);
  z-index: 100;

  &__content {
    position: relative;
    //margin-top: 200px;
    margin-right: $container-padding-x;
    margin-left: $container-padding-x;
    padding: 45px 25px;
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: $white-color;

    @include media-breakpoint-up(md) {
      padding-right: 50px;
      padding-left: 50px;
    }

    .modal--sm & {
      max-width: 300px;
    }

    .modal--lg & {
      max-width: 600px;
    }

    .modal--xl & {
      max-width: 770px;

      @include media-breakpoint-up(md) {
        padding-right: 80px;
        padding-left: 80px;
      }
    }

    .modal--theme-yellow & {
      background-color: $primary-color;
    }

    .modal--content-center & {
      justify-content: center;
      text-align: center;
    }

    .modal--map & {
      margin: 0;
      padding: 0;
      width: 100vw;
      max-width: unset;
      height: 100vh;
      background-color: $gray-light-color;

      @include media-breakpoint-up(lg) {
        width: 95vw;
        height: 95vh
      }
    }
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-right: 20px;
    padding-left: 20px;
    height: 58px;
    display: flex;
    align-items: center;
    background-color: rgba($white-color, 0);

    .modal--map & {
      background-color: rgba($white-color, 0.9);
    }
  }

  &__close {
    @include close-button($gray-color--down-11);

    margin-left: auto;
  }

  &__meta {
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 20px;
    color: $gray-dark-color;
  }

  &__title {
    margin: 0 0 20px 0;
    font-family: $font-family;
    font-size: 26px;
    line-height: 32px;
    //text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &__subtitle {
    margin: -12px 0 23px 0;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    color: $gray-dark-color;
    //text-align: left;
  }

  &__icon {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 15px;
  }

  &__actions {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10px;
  }
}
