<article [class]="cssClass" [@fadeIn]="">
  <div class="modal__content">
    <div class="modal__top">
      <div *ngIf="meta" class="modal__meta">{{meta}}</div>
      <button type="button" class="modal__close" (click)="onClose()">
        <app-icon name="close" width="22" height="22"></app-icon>
      </button>
    </div>
    <h1 *ngIf="title" class="modal__title">{{title}}</h1>
    <ng-content></ng-content>
  </div>
</article>
