<div class="work-banner">
  <div class="work-banner__container">
    <app-img name="{{imagesPath}}/img" [breakpoints]='{xs: true, lg: true}' alt="Возможно это ты"></app-img>
    <div class="work-banner__box">
      <h3 class="work-banner__title">Мы ищем активных <br class="br br--show-xs">
        и целеустремленных <br class="br br--show-xs">сотрудников в команду!</h3>
      <div class="work-banner__text">Возможно это ты!</div>
    </div>
  </div>
</div>
