@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.work-banner {
  margin-bottom: 110px;

  @include media-breakpoint-up(md) {
    margin-bottom: 25px;
  }

  &__container {
    position: relative;

    @include media-breakpoint-up(lg) {
      @include container();
    }
  }

  &__box {
    position: absolute;
    left: $container-padding-x;
    right: $container-padding-x;
    bottom: -108px;
    padding: 30px;
    background-color: $white-color;
    box-shadow: 0px 24px 54px rgba($black-color, 0.1);
    border-radius: $border-radius;
    box-sizing: border-box;

    @include media-breakpoint-up(sm) {
      right: unset;
      width: 100%;
      max-width: 345px;
    }

    @include media-breakpoint-up(md) {
      bottom: -25px;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px 25px 35px 45px;
      left: 65px;
      bottom: -20px;
      max-width: 405px;
      height: 225px;
    }
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: $font-family;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 18px 0;
      font-size: 28px;
      line-height: 33.6px;
    }
  }

  &__text {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 25.2px;

    @include media-breakpoint-up(xl) {
      margin: 25px 0 0 0;
    }
  }

  img {
    position: relative;
    left: -$container-padding-x;
    display: block;
    width: calc(100% + #{$container-padding-x} * 2);
    height: 265px;
    object-fit: cover;

    @include media-breakpoint-up(sm) {
      height: 320px;
    }

    @include media-breakpoint-up(lg) {
      height: 490px;
    }
  }
}
