@import '../../../../../../assets/scss/core/functions';
@import "../../../../../../assets/scss/core/breakpoints";
@import "../../../../../../assets/scss/core/mixins";
@import "../../../../../../variables";
@import "../../../../../../assets/scss/settings";

.calc-box {
  padding: 35px 40px 40px;
  background-color: $primary-color;
  box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.04);
  border-radius: $border-radius;

  @include media-breakpoint-up(sm) {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: auto 256px;
    grid-column-gap: 9px;
    align-items: center;
  }

  @include media-breakpoint-up(md) {
    padding-left: 35px;
    grid-template-columns: auto 270px;
    grid-column-gap: 45px;
    justify-content: start;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 73px;
    display: block;
  }

  &__title {
    margin: 0 0 20px 0;
    font-family: $font-family;
    font-size: 22px;
    line-height: 26.4px;

    @include media-breakpoint-up(sm) {
      margin: 0;
    }

    @include media-breakpoint-up(md) {
      font-size: 28px;
      line-height: 33.6px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
    }
  }
}
