<app-modal mods="xl" [title]="title" (close)="close()">
  <form action="#" class="form form--no-margin" autocomplete="off">
    <div class="form__fieldset">
      <div class="form__field">
        <label for="city-name" class="form__label form__label--light">Введите название города</label>
        <app-input id="city-name" type="search" [formControl]="searchField" inputmode="search" placeholder="Например, Артем"></app-input>
      </div>
    </div>
    <app-cities-list>
      <ng-container *ngFor="let col of cities">
        <div *ngIf="col.length">
          <app-cities-block *ngFor="let group of col" [letter]="group[0]" [names]="group[1]"></app-cities-block>
        </div>
      </ng-container>
      <p *ngIf="!cities[0].length && !cities[1].length">
        Ничего не найдено...
      </p>
    </app-cities-list>
  </form>
</app-modal>
