<form action="#" class="form form--no-margin" autocomplete="off" [formGroup]="form">
  <section class="form__section">
    <div class="form__fieldset form__fieldset--filter">
      <div class="form__group">
        <span class="form__label">Период:</span>
        <app-datepicker
          [formControlName]="FormControlName.DateStart"
          [invalid]="form.get(FormControlName.DateStart).invalid
          && form.get(FormControlName.DateStart).touched"
          mods="no-shadow">
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(form.get(FormControlName.DateStart).errors).length">
              {{FormFieldError[utils.getObjectKey(form.get(FormControlName.DateStart).errors)[0]]}}
            </small>
          </ng-container>
        </app-datepicker>
        <app-datepicker
          [formControlName]="FormControlName.DateEnd"
          [invalid]="form.get(FormControlName.DateEnd).invalid
          && form.get(FormControlName.DateEnd).touched"
          mods="no-shadow">
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(form.get(FormControlName.DateEnd).errors).length">
              {{FormFieldError[utils.getObjectKey(form.get(FormControlName.DateEnd).errors)[0]]}}
            </small>
          </ng-container>
        </app-datepicker>
      </div>
      <div class="form__field">
        <label class="form__label form__label--light">Город отправления</label>
        <app-select
          [formControlName]="FormControlName.CityStart"
          [items]="cities"
          [invalid]="(form.get(FormControlName.CityStart).invalid &&
          form.get(FormControlName.CityStart).value.touched)"
          mods="no-shadow"
        ></app-select>
      </div>
      <div class="form__field">
        <label class="form__label form__label--light">Город получения</label>
        <app-select
          [formControlName]="FormControlName.CityEnd"
          [items]="cities"
          [invalid]="(form.get(FormControlName.CityEnd).invalid &&
          form.get(FormControlName.CityEnd).value.touched)"
          mods="no-shadow"
        ></app-select>
      </div>
      <app-btn mods="lg">Показать</app-btn>
    </div>
  </section>
</form>
<app-report>
  <ng-container class="table">
    <app-table
      [head]="tableHead"
      [body]="tableBody"
      withScroll="true"
    >
    </app-table>
  </ng-container>
  <ng-container class="data">
    <!--    {{{ data-list items='[-->
    <!--    {"name": "Заказ", "value": "№ 614933", "type": "bold"},-->
    <!--      {"name": "Дата заказа", "value": "2020-04-03"},-->
    <!--      {"name": "Отправитель", "value": "Ким-Мельникова А.А., ИП"},-->
    <!--      {"name": "Получатель", "value": "Петрухи А.А., ИП"},-->
    <!--      {"name": "Город отправ.", "value": "Владивосток"},-->
    <!--      {"name": "Город получ.", "value": "Уссурийск"},-->
    <!--      {"name": "Стоимость", "value": "150.00"}-->
    <!--    ]' mods="w-underline"-->
    <!--    }}}-->
  </ng-container>
  <ng-container class="footer">
    <app-pagination></app-pagination>
    <app-btn type="button">Скачать отчет в формате XLS</app-btn>
  </ng-container>
</app-report>
