<ng-container [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--auto-part">
    <ng-container *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder;">
      <div *ngIf="control.key === FormControlName.Item" class="form__field">
        <label class="form__label"
               [class.form__label--invalid]="control.value.invalid"
               [class.form__label--light]="control.value.disabled">
          Выберите вариант:
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-select
          *ngIf="parts.length"
          [items]="parts"
          [formControlName]="control.key"
          [invalid]="(control.value.invalid && control.value.touched)"
          [disabled]="control.value.value"
        >
        </app-select>
      </div>
      <div *ngIf="control.key === FormControlName.Count && formGroup.get(FormControlName.Item).value" class="form__field">
        <label class="form__label" [class.form__label--invalid]="control.value.invalid">
          Количество мест:
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-counter
          [formControlName]="control.key"
          [invalid]="(control.value.invalid && control.value.touched)"
          [@fadeIn]=""
        >
        </app-counter>
      </div>
    </ng-container>
    <div *ngIf="formGroup.get(FormControlName.Item).value" class="form__field">
      <div class="form__label">&#160;</div>
      <app-btn  type="button" mods="delete" (click)="clear()">
        <app-icon name="delete" width="18" height="18"></app-icon>
        Удалить
      </app-btn>
    </div>
  </div>
</ng-container>
