<app-modal mods="content-center" title="Счет сформирован" (close)="close()">
  <div class="modal__icon">
    <app-icon name="files" width="49" height="62"></app-icon>
  </div>
  <p class="modal__text">Счет на 10 000 руб. сформирован! Загрузка счета на ваш компьютер произойдет автоматически.</p>
  <div class="modal__btn">
    <app-btn type="button">Хорошо, спасибо!</app-btn>
  </div>
</app-modal>
