<div class="page__container">
  <h1 class="page__title">Обратная связь</h1>
  <p class="page__subtitle">Вы можете задать нам вопрос, оставить отзыв, а также написать свое предложение или замечание. <br class="br br--show-lg"/>Воспользуйтесь формой обратной связи, которая расположена ниже.</p>
  <form action="#" class="form" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">
    <span class="form__label form__label--light">Выберите вид обращения:</span>
    <div class="form__fieldset form__fieldset--feedback">
      <div class="form__field">
        <app-radio name="feedback"
           [checked]="form.get(FormControlName.Type).value === FeedbackType.Question"
           (change)="setType(FeedbackType.Question)">Вопрос</app-radio>
      </div>
      <div class="form__field">
        <app-radio name="feedback"
           [checked]="form.get(FormControlName.Type).value === FeedbackType.Review"
           (change)="setType(FeedbackType.Review)">Отзыв</app-radio>
      </div>
      <div class="form__field">
        <app-radio name="feedback"
           [checked]="form.get(FormControlName.Type).value === FeedbackType.Note"
           (change)="setType(FeedbackType.Note)">Предложение или замечание</app-radio>
      </div>
      <div class="form__field">
        <app-radio name="feedback"
           [checked]="form.get(FormControlName.Type).value === FeedbackType.Coop"
           (change)="setType(FeedbackType.Coop)">Вопросы сотрудничества</app-radio>
      </div>
    </div>
    <div class="form__fieldset form__fieldset--row-gap-lg form__fieldset--col-gap-lg form__fieldset--2-col-sm form__fieldset--w-575">
      <ng-container *ngFor="let control of formUtils.getGroupControls(form) | keyvalue: formUtils.originalOrder; let i = index">
        <div *ngIf="i <= 2" class="form__field" [class.form__field--span-2]="control.key === FormControlName.Email">
          <label [for]="control.key" class="form__label"
                 [class.form__label--invalid]="control.value.invalid && control.value.touched">
            {{FormFieldMeta[control.key].label}}
            <sup class="form__required" *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
          </label>
          <app-input
            [type]="FormFieldMeta[control.key].type"
            [id]="control.key"
            [formControlName]="control.key"
            [mask]="FormFieldMeta[control.key].mask"
            [prefix]="FormFieldMeta[control.key].prefix"
            [dropSpecialCharacters]="FormFieldMeta[control.key].dropSpecialCharacters"
            [showMaskTyped]="FormFieldMeta[control.key].showMaskTyped"
            [inputmode]="FormFieldMeta[control.key].inputmode"
            [invalid]="(control.value.invalid && control.value.touched)"
          >
          </app-input>
        </div>
      </ng-container>
      <div class="form__field form__field--span-2">
        <label [for]="" class="form__label"
               [class.form__label--invalid]="form.get(FormControlName.Question).invalid && form.get(FormControlName.Question).touched">
          {{FormFieldMeta[FormControlName.Question].label}}
          <sup class="form__required" *ngIf="form.get(FormControlName.Question).errors &&
           form.get(FormControlName.Question).hasError('required')">*</sup>
        </label>
        <app-input
          [type]="FormFieldMeta[FormControlName.Question].type"
          [id]="FormControlName.Question"
          [formControlName]="FormControlName.Question"
          [invalid]="(form.get(FormControlName.Question).invalid && form.get(FormControlName.Question).touched)"
        >
<!--          <ng-container class="errors">-->
<!--            <small *ngIf="utils.getObjectKey(form.get(FormControlName.Question).errors).length">-->
<!--              {{FormFieldError[utils.getObjectKey(form.get(FormControlName.Question).errors)[0]]}}-->
<!--            </small>-->
<!--          </ng-container>-->
        </app-input>
      </div>
      <div class="form__field form__field--span-2">
        <app-checkbox [formControlName]="FormControlName.Agree" mods="sm"
          (change)="executeCaptcha(invisible)" [disabled]="form.get(FormControlName.Captcha).value">
          <ng-container class="text">
            Нажимая кнопку «Отправить», я даю свое согласие на
            <app-link (click)="confirm($event)" mods="blue, in-text">обработку моих персональных данных</app-link>
          </ng-container>
        </app-checkbox>
        <re-captcha size="invisible" #invisible
                    [formControlName]="FormControlName.Captcha" (resolved)="captchaResolved($event)">
        </re-captcha>
      </div>
    </div>
    <div class="form__action" style="margin-top: 35px;">
      <app-btn mods="lg, max-w-270" [disabled]="form.invalid || (!form.invalid && isLoading)">
        <app-loader *ngIf="isLoading; else text" mods="sm, black"></app-loader>
        <ng-template #text>
          Отправить
        </ng-template>
      </app-btn>
    </div>
  </form>
</div>

