
<div class="page__container">
  <h1 class="page__title">Страхование грузов <br class="br br--show-md">в Приморском крае</h1>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <p>Мы заботимся о безопасной перевозке вашего груза и максимально снижаем ваши <br class="br br--show-md">имущественные риски, предлагая услугу по страхованию груза.</p>
    <p style="margin-bottom: 40px;">Нашим партнером является компания ПАО «Страховая акционерная компания <br class="br br--show-md">«ЭНЕРГОГАРАНТ».</p>
    <app-img name="{{imagesPath}}/eg" ext="png" alt="Страховая компания Энергогарант" maxWidth="395px"></app-img>
    <h2 class="title title--sm">Тарифы на страхование:</h2>
    <app-table withScroll="true"
      [head]='["Объявленная ценность груза", "Размер"]'
      [body]='[["до 15 000 руб.", "50 руб."], ["15 000 руб. - 30 000 руб.", "100 руб."]]'
      mods="max-width-500"
      headerMods="primary"
    ></app-table>
    <small><sup>*</sup>Максимальная стоимость страхования груза 30 000 руб.</small>
    <h2 class="title title--sm">Условия страхования:</h2>
    <app-list [data]="list"></app-list>
    <h2 class="title title--sm">Действия при наступлении страхового случая:</h2>
    <p>Если вы обнаружили нарушение целостности упаковки или <br>повреждение груза в офисе нашей компании, необходимо<br>совместно с менеджером зафиксировать этот факт и составить <br>претензию.</p>
    <p>Если вы обнаружили нарушение целостности упаковки или <br>повреждение груза при встрече груза с автобуса, вам необходимо
      <br>самостоятельно зафиксировать этот факт, сделав фотографии <br>повреждений, и оставить посылку в багажном отделении автобуса.
      <br>После чего связаться с нами по телефону:
      <app-link [href]="'tel:' + phoneNumber" mods="blue, no-underline, in-text">{{phoneNumber}}</app-link>
       или <br>электронному адресу: <app-link [href]="'mailto:' + email" mods="blue, no-underline, in-text">{{email}}</app-link> Вы также можете
      <br>обратиться в онлайн-чат справа и задать вопрос нашему <br>онлайн-консультанту.</p>
  </div>
  <aside class="page__sidebar">
<!--    <app-media [data]="{title: 'Тарифы на упаковку'}">-->
<!--      <ng-container class="link">-->
<!--        <app-link href="https:\\busbox.guru\uploads\pages\tarifs\Упаковка_прайс.pdf" mods="lg, blue">Скачать</app-link>-->
<!--      </ng-container>-->
<!--    </app-media>-->
  </aside>
</div>
