<section *ngIf="dataLoaded" class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Упаковка:</h2>
  <div *ngIf="boxes.length" class="form__fieldset form__fieldset--package" [formArrayName]="FormControlName.Box">
    <div class="form__fieldset-label">Коробка</div>
    <ng-container *ngFor="let itemGroup of boxes.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;">
          <ng-container *ngIf="control.key === FormControlName.Count; else checkbox">
            <app-package-modal
              *ngIf="activeCheckboxId === getId(i, boxes.controls)"
              [formControlName]="control.key"
              [type]="FormControlName.Box"
              [data]="formattedData[getId(i, boxes.controls)]"
              (close)="closeModal(getCheckboxControl(i, boxes.controls))"
              (ok)="changeControlState(getCheckboxControl(i, boxes.controls), control.value.value)"
            >
            </app-package-modal>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox
              isClear="true"
              [formControlName]="control.key"
              (change)="setActiveCheckbox(control.key)"
              (clear)="clear($event, getCounterControl(i, boxes.controls), control.value)"
              [disabled]="+getCounterControl(i, boxes.controls).value > 0">
              <div class="text">
                {{utils.capitalizeFirstLetter(formattedData[control.key].site_name)}}<br />
<!--                ({{formattedData[control.key].params}})-->
              </div>
              <ng-container class="meta">
                <div>
                  {{ getCounterControl(i, boxes.controls).value ?
                  getCounterControl(i, boxes.controls).value * formattedData[control.key].price : formattedData[control.key].price}}
                  руб за {{ getCounterControl(i, boxes.controls).value || '1' }} шт.
                </div>
              </ng-container>
              <ng-container class="actions">
                <app-btn type="button" mods="checkbox-action" *ngIf="getCounterControl(i, boxes.controls).value"
                 (click)="setActiveCheckbox(control.key)">
                  изменить
                </app-btn>
              </ng-container>
            </app-checkbox>
          </ng-template>
<!--                      value: {{ control.value.value }}-->
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="safePacks.length" class="form__fieldset form__fieldset--package" [formArrayName]="FormControlName.SafePack">
    <div class="form__fieldset-label">Сейф-пакет</div>
    <ng-container *ngFor="let itemGroup of safePacks.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;
          let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Count; else checkbox">
            <app-package-modal
              *ngIf="activeCheckboxId === getId(i, safePacks.controls)"
              [type]="FormControlName.SafePack"
              [data]="formattedData[getId(i, safePacks.controls)]"
              [formControlName]="control.key"
              (close)="closeModal(getCheckboxControl(i, safePacks.controls))"
              (ok)="changeControlState(getCheckboxControl(i, safePacks.controls), control.value.value)"
            >
            </app-package-modal>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox
              isClear="true"
              [formControlName]="control.key"
              (change)="setActiveCheckbox(control.key)"
              (clear)="clear($event, getCounterControl(i, safePacks.controls), control.value)"
              [disabled]="+getCounterControl(i, safePacks.controls).value > 0">
              <div class="text">
                {{utils.capitalizeFirstLetter(formattedData[control.key].site_name)}}<br />
<!--                ({{formattedData[control.key].params}})-->
              </div>
              <ng-container class="meta">
                <div>
                  {{ getCounterControl(i, safePacks.controls).value ?
                  getCounterControl(i, safePacks.controls).value * formattedData[control.key].price : formattedData[control.key].price}}
                  руб за {{ getCounterControl(i, safePacks.controls).value || '1' }} шт.
                </div>
              </ng-container>
              <ng-container class="actions">
                <app-btn type="button" mods="checkbox-action" *ngIf="getCounterControl(i, safePacks.controls).value"
                         (click)="setActiveCheckbox(control.key)">
                  изменить
                </app-btn>
              </ng-container>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="plasticPacks.length" class="form__fieldset form__fieldset--package" [formArrayName]="FormControlName.PlasticPack">
    <div class="form__fieldset-label">Полиэтиленовый пакет</div>
    <ng-container *ngFor="let itemGroup of plasticPacks.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;
          let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Count; else checkbox">
            <app-package-modal
              *ngIf="activeCheckboxId === getId(i, plasticPacks.controls)"
              [type]="FormControlName.PlasticPack"
              [formControlName]="control.key"
              [data]="formattedData[getId(i, plasticPacks.controls)]"
              (close)="closeModal(getCheckboxControl(i, plasticPacks.controls))"
              (ok)="changeControlState(getCheckboxControl(i, plasticPacks.controls), control.value.value)"
            >
            </app-package-modal>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox
              isClear="true"
              [formControlName]="control.key"
              (change)="setActiveCheckbox(control.key)"
              (clear)="clear($event, getCounterControl(i, plasticPacks.controls), control.value)"
              [disabled]="+getCounterControl(i, plasticPacks.controls).value > 0">
              <div class="text">
                {{utils.capitalizeFirstLetter(formattedData[control.key].site_name)}}<br />
<!--                ({{formattedData[control.key].params}})-->
              </div>
              <ng-container class="meta">
                <div>
                  {{ getCounterControl(i, plasticPacks.controls).value ?
                  getCounterControl(i, plasticPacks.controls).value * formattedData[control.key].price : formattedData[control.key].price}}
                  руб за {{ getCounterControl(i, plasticPacks.controls).value || '1' }} шт.
                </div>
              </ng-container>
              <ng-container class="actions">
                <app-btn type="button" mods="checkbox-action" *ngIf="getCounterControl(i, plasticPacks.controls).value"
                         (click)="setActiveCheckbox(control.key)">
                  изменить
                </app-btn>
              </ng-container>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="skins.length" class="form__fieldset form__fieldset--package" [formArrayName]="FormControlName.Skin">
    <div class="form__fieldset-label">Пленка</div>
    <ng-container *ngFor="let itemGroup of skins.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;
          let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Count; else checkbox">
            <app-package-modal
              *ngIf="activeCheckboxId === getId(i, skins.controls)"
              [formControlName]="control.key"
              [data]="formattedData[getId(i, skins.controls)]"
              (close)="closeModal(getCheckboxControl(i, skins.controls))"
              (ok)="changeControlState(getCheckboxControl(i, skins.controls), control.value.value)"
            >
            </app-package-modal>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox
              isClear="true"
              [formControlName]="control.key"
              (change)="setActiveCheckbox(control.key)"
              (clear)="clear($event, getCounterControl(i, skins.controls), control.value)"
              [disabled]="+getCounterControl(i, skins.controls).value > 0">
              <div class="text">{{formattedData[control.key].site_name}}</div>
              <ng-container class="meta">
                <div>
                  {{ getCounterControl(i, skins.controls).value ?
                  getCounterControl(i, skins.controls).value * formattedData[control.key].price : formattedData[control.key].price}}
                  руб за {{ getCounterControl(i, skins.controls).value || '1' }} шт.
                </div>
              </ng-container>
              <ng-container class="actions">
                <app-btn type="button" mods="checkbox-action" *ngIf="getCounterControl(i, skins.controls).value"
                         (click)="setActiveCheckbox(control.key)">
                  изменить
                </app-btn>
              </ng-container>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div *ngIf="other.length" class="form__fieldset form__fieldset--package" [formArrayName]="FormControlName.Other">
    <div class="form__fieldset-label">Другое</div>
    <ng-container *ngFor="let itemGroup of other.controls; let i = index">
      <div class="form__field" [formGroupName]="i">
        <ng-container
          *ngFor="let control of formUtils.getGroupControls(itemGroup)  | keyvalue: formUtils.originalOrder;
          let controlIndex = index;">
          <ng-container *ngIf="control.key === FormControlName.Count; else checkbox">
            <app-package-modal
              *ngIf="activeCheckboxId === getId(i, other.controls)"
              [formControlName]="control.key"
              [data]="formattedData[getId(i, other.controls)]"
              (close)="closeModal(getCheckboxControl(i, other.controls))"
              (ok)="changeControlState(getCheckboxControl(i, other.controls), control.value.value)"
            >
            </app-package-modal>
          </ng-container>
          <ng-template #checkbox>
            <app-checkbox
              isClear="true"
              [formControlName]="control.key"
              (change)="setActiveCheckbox(control.key)"
              (clear)="clear($event, getCounterControl(i, other.controls), control.value)"
              [disabled]="+getCounterControl(i, other.controls).value > 0">
              <div class="text">{{formattedData[control.key].name}}</div>
              <ng-container class="meta">
                <div>
                  {{ getCounterControl(i, other.controls).value ?
                  getCounterControl(i, other.controls).value * formattedData[control.key].price : formattedData[control.key].price}}
                  руб за {{ getCounterControl(i, other.controls).value || '1' }} шт.
                </div>
              </ng-container>
              <ng-container class="actions">
                <app-btn type="button" mods="checkbox-action" *ngIf="getCounterControl(i, other.controls).value"
                         (click)="setActiveCheckbox(control.key)">
                  изменить
                </app-btn>
              </ng-container>
            </app-checkbox>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>
