.form {
  $form-column-gap: $container-padding-x;
  $form-border-radius: 10px;

  margin-top: 35px;
  margin-bottom: 50px;
  counter-reset: heading;
  text-align: left;

  &--no-margin {
    margin: 0;
  }

  &--max-w-820 {
    max-width: 820px;
  }

  &--cities {
    position: relative;
    z-index: 10;
    padding: 45px 20px 60px 20px;
    background-color: $primary-color;
    border-radius: $form-border-radius;
    box-sizing: border-box;

    @include media-breakpoint-up(sm) {
      padding-right: 45px;
      padding-left: 45px;
    }

    @include media-breakpoint-up(lg) {
      //position: absolute;
      //top: 0;
      //right: 0;
      display: inline-grid;
      width: 375px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -$container-padding-x;
      bottom: 0;
      left: -$container-padding-x;
      z-index: -1;
      background-color: $primary-color;
      border-radius: $form-border-radius;

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  &--task {
    position: relative;
    margin-top: 20px;
    padding: 45px 20px 60px 20px;
    background-color: $primary-color;
    border-radius: 10px;
    box-sizing: border-box;

    @include media-breakpoint-up(sm) {
      padding-right: 33px;
      padding-left: 33px;
    }

    @include media-breakpoint-up(md) {
      padding: 40px 60px 50px;
      //display: grid;
      //grid-template-columns: repeat(2, 1fr);
      //grid-column-gap: 35px;
    }

    @include media-breakpoint-up(lg) {
      padding: 50px 40px 60px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -$container-padding-x;
      bottom: 0;
      left: -$container-padding-x;
      z-index: -1;
      background-color: $primary-color;
      border-radius: $form-border-radius;

      @include media-breakpoint-up(sm) {
        display: none;
      }
    }
  }

  //&--mg-top-sm {
  //  margin-top: 15px;
  //}

  &__section {
    margin-bottom: 50px;

    &--w-underline {
      padding-bottom: 40px;
      border-bottom: 2px solid $gray-light-color--up-5;
    }

    &--account {
      max-width: 570px;
    }

    &--no-margin {
      margin: 0;
    }
  }

  &__fieldset {
    margin: 0;
    display: grid;
    grid-column-gap: $form-column-gap;
    grid-row-gap: 15px;
    align-items: start;
    //align-self: start;
    //align-items: end;

    & > * {
      order: 1;
    }

    &--row-gap-sm {
      grid-row-gap: 10px;
    }

    &--row-gap-lg {
      grid-row-gap: 25px;
    }

    &--col-gap-lg {
      grid-column-gap: 30px;
    }

    &--align-end {
      align-items: end;
    }

    &--w-575 {
      max-width: 575px;
    }

    & + & {
      margin-top: 15px;
    }

    & + &--mgt {
      margin-top: 30px;
    }
  }

  &__fieldset dd {
    margin-left: 30px;
    width: 240px;
  }

  &__fieldset--2-col-sm {
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__fieldset--2-col-md {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__fieldset--1-col-md {
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr;
    }
  }

  &__fieldset--1-col-lg {
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__fieldset--2-col-xl {
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__fieldset--3-col-md {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__fieldset--3-col-xl {
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__fieldset--full {
    grid-column: 1 / -1;
  }

  &__fieldset--delivery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      align-items: start;
    }

    @include media-breakpoint-up(md) {
      grid-column-gap: 30px;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__fieldset--department {
    margin-top: 15px;
    display: block;

    & > * {
      margin-bottom: 15px !important;
    }
  }

  &__fieldset--address {
    grid-template-columns: 1fr 100px;
    grid-column-gap: 20px;
    align-items: end;

    @include media-breakpoint-up(md) {
      grid-column-gap: $form-column-gap * 2;
    }

    & > .form__field:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--schedule {
    margin-top: 25px;
    grid-template-columns: auto 1fr;
    grid-column-gap: $form-column-gap * 2;
    grid-row-gap: 10px;
    grid-column: 1 / -1;

    & > *:first-child {
      grid-column: 1 / -1;
    }
  }

  &__fieldset--tags {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  &__fieldset--goods-type {
    $template-columns-md: 125px repeat(4, auto);

    margin-bottom: 30px;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 30px;
    justify-content: start;
    align-items: center;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(4, auto);
    }

    @include media-breakpoint-only(md) {
      grid-template-columns: $template-columns-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: $template-columns-md;
    }
  }

  &__fieldset--auto-part {
    margin-bottom: 10px;
    max-width: 400px;
    grid-template-columns: 140px 1fr;
    grid-template-areas:
      "select select"
      "count delete";
    grid-column-gap: 20px;
    align-items: center;

    @include media-breakpoint-up(sm) {
      max-width: 550px;
      grid-template-columns: minmax(250px, 1fr) 140px auto;
      grid-template-areas: "select count delete";
    }

    & > *:nth-child(1) {
      grid-area: select;
    }

    & > *:nth-child(2) {
      grid-area: count;
    }

    & > *:nth-child(3) {
      grid-area: delete;
      justify-self: start;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__fieldset--package {
    position: relative;
    margin-top: 30px;
    padding: 5px 0 30px 15px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: unset;
    grid-row-gap: unset;
    border: 1px solid $gray-light-color;
    border-radius: 5px;

    @include media-breakpoint-up(sm) {
      //padding-right: 25px;
      //padding-left: 25px;
    }

    @include media-breakpoint-up(lg) {
      //grid-row-gap: 30px;
      //row-gap: 30px;
    }

    & + & {
      margin-top: 30px;
    }

    & > .form__field {
      margin: 25px 25px 0 0;

      @include media-breakpoint-up(sm) {
        margin-right: 35px;
      }
    }
  }

  &__fieldset--delivery-point {
    $template-areas-md:
      "location location"
      "department department"
      "switcher ."
      "form-tab form-tab"
      "delivery-date .";

    grid-template-columns: 1fr;
    grid-template-areas:
      "location"
      "department"
      "switcher"
      "form-tab"
      "delivery-date";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "location location"
        "department department"
        "switcher switcher"
        "form-tab form-tab"
        "delivery-date .";
    }

    @include media-breakpoint-only(md) {
      grid-template-areas: $template-areas-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas: $template-areas-md;
    }
  }

  &__fieldset--pickup-point {
    $template-areas-md:
      "location location"
      "department department"
      "switcher ."
      "form-tab form-tab";

    grid-template-columns: 1fr;
    grid-template-areas:
      "location"
      "department"
      "switcher"
      "form-tab";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "location location"
        "department department"
        "switcher switcher"
        "form-tab form-tab";
    }

    @include media-breakpoint-only(md) {
      grid-template-areas: $template-areas-md;
    }

    @include media-breakpoint-up(xl) {
      grid-template-areas: $template-areas-md;
    }
  }

  &__fieldset--filter {
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      //grid-column-gap: 30px;
      grid-column-gap: 15px;
      align-items: end;
    }

    @include media-breakpoint-up(lg) {
      padding: 15px 30px 35px 30px;
      grid-template-columns: minmax(auto, 300px) repeat(2, 1fr) 150px;
      //grid-column-gap: 15px;
      box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius;
    }

    @include media-breakpoint-up(xl) {
      padding: 15px 30px 35px 30px;
      grid-template-columns: minmax(auto, 360px) repeat(3, 1fr);
      //grid-column-gap: 30px;
    }

    &.form__fieldset--orders {
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr) 150px;
      }

      //@include media-breakpoint-up(xl) {
      //  grid-template-columns: minmax(auto, 360px) repeat(3, 1fr);
      //}
    }
  }

  &__fieldset--edit-password {
    grid-template-columns: 1fr;
    grid-template-areas:
      "old-password"
      "new-password"
      "new-password-repeat";

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "old-password ."
        "new-password ."
        "new-password-repeat .";
    }

    & > *:nth-child(1) {
      grid-area: old-password;
    }

    & > *:nth-child(2) {
      grid-area: new-password;
    }

    & > *:nth-child(3) {
      grid-area: new-password-repeat;
    }
  }

  &__fieldset--feedback {
    margin-top: 15px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    //grid-column-gap: 0;
    justify-content: start;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: $container-padding-x;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: auto;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
      margin-bottom: 50px;
      grid-column-gap: $container-padding-x * 2;
    }

    & > *:nth-of-type(3) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;

      @include media-breakpoint-up(sm) {
        grid-column: unset;
        grid-row: unset;
      }

    }

    & > *:nth-of-type(4) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;

      @include media-breakpoint-up(sm) {
        grid-row: unset;
      }

      @include media-breakpoint-up(md) {
        grid-column: unset;
      }
    }
  }

  &__error {
    grid-column: 1 / -1;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.4;
    color: $red-color;
  }

  &__field {
    //margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;

    &--span-2 {
      @include media-breakpoint-up(sm) {
        grid-column: span 2;
      }
    }

    &--full {
      grid-column: 1 / -1;
      justify-self: normal;
    }

    &--align-center {
      align-items: center;

      @include media-breakpoint-only(md) {
        align-items: flex-start;
      }

      @include media-breakpoint-up(xl) {
        align-items: flex-start;
      }
    }

    &--cancel {
      align-items: center;

      @include media-breakpoint-up(sm) {
        align-items: flex-start;
        justify-content: center;
        height: 100%;
      }
    }

    &--end-xl {
      @include media-breakpoint-up(xl) {
        grid-column-end: -1;
      }
    }

    &--location {
      grid-area: location;
    }

    &--delivery-date {
      grid-area: delivery-date;
    }
  }

  &__group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    //justify-content: start;
    grid-column-gap: 7px;

    @include media-breakpoint-up(xl) {
      grid-template-columns: auto 1fr auto 1fr;
    }

    &::before {
      content: "-";
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      color: #333333;

      @include media-breakpoint-up(xl) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }
  }

  &__title {
    margin: 0 0 25px 0;
    font-family: $font-family;
    font-size: 24px;
    line-height: 28px;
  }

  &__label {
    margin-bottom: 3px;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 20px;
    color: $font-color;
    text-align: left;

    &--light {
      color: rgba($black-color, 0.3);
      //color: $gray-color--down-11;
    }

    &--full {
      grid-column: 1 / -1;
    }

    &--invalid {
      color: $red-color;
    }

    .form__group & {
      grid-column: 1 / -1;
      color: $gray-color--down-11;

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
        margin-right: 15px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 16px;
        color: $font-color;
      }
    }
  }

  &__required {
    color: $red-color;
  }

  &__heading {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1;
    font-weight: 500;

    &:not(&--no-mgb) {
      margin-bottom: 25px;
    }

    &--full {
      grid-column: 1 / -1;
    }

    &--w-counter {
      &::before {
        counter-increment: heading;
        content: counter(heading, decimal-leading-zero) ".";
        margin-right: 5px;
        color: $gray-color--down-11;
      }
    }

    .form__fieldset--goods-type & {
      grid-column: 1 / -1;

      @include media-breakpoint-only(md) {
        grid-column: unset;
      }

      @include media-breakpoint-up(xl) {
        grid-column: unset;
      }
    }
  }

  &__details {
    margin: 40px 0 0 0;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1.4;

    dd {
      margin-top: 5px;
      margin-left: 0;
      color: $gray-dark-color;
    }
  }

  &__refresh {
    @include btn-default();
    align-self: end;

    opacity: 0.1;

    @include hover {
      opacity: 0.3;
    }

    @include media-breakpoint-only(md) {
      align-self: center;
    }

    @include media-breakpoint-only(xl) {
      align-self: start;
      margin-top: 37px;
    }
  }

  &__tabs {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2px;
    list-style: none;
    grid-area: switcher;

    &--mg-top {
      margin-top: 15px;
    }

    &--modal {
      grid-column-gap: 0;
    }
  }

  &__tab {

    div {
      position: relative;
      padding: 10px;
      min-height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-family--secondary;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $black-color;
      background-color: $gray-light-color--up-5;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
    }

    &:hover div {
      background-color: lighten($primary-color, 35%);
    }

    input:checked ~ div {
      color: $black-color;
      background-color: $primary-color;

      &::before,
      &::after {
        background-color: $primary-color;
      }

      &.invalid {
        color: $white-color;
        background-color: $red-color;

        &::before,
        &::after {
          background-color: $red-color;
        }
      }
    }

    input:disabled ~ div {
      cursor: not-allowed;
    }
  }

  &__tab:first-child div {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &__tab:last-child div {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__tabs--modal button {
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #988300;
    background-color: $primary-color;
    border-bottom: 2px solid rgba(#988300, 0.4);

    &:first-child {
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }

    &.active {
      color: $black-color;
      border-color: rgba($white-color, 0.4);

      &::before,
      &::after {
        display: none;
      }
    }
  }

  //&__tabs-panel {
  //  grid-area: form-tab;
  //
  //  &--mg-top {
  //    margin-top: 40px;
  //  }
  //}

  &__panel {
    grid-area: form-tab;

    &--mg-top {
      margin-top: 40px;
    }
  }

  &__help-text {
    margin: 50px 0 0 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 25px;
    text-align: left;

    &--gray {
      color: $gray-color--down-11;
    }

    &--align-center {
      text-align: center;
    }
  }

  &__help-text br {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__mark {
    margin-bottom: 15px;
    padding: 6px 8px;
    display: inline-block;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1;
    background-color: $primary-color;
  }

  &__actions {
    display: grid;
    grid-template-areas:
      "next"
      "back";
    grid-column-gap: $form-column-gap;
    grid-row-gap: 20px;
    align-items: center;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "next ."
        "back .";
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 130px 1fr minmax(min-content, 223px);
      grid-template-areas: "back . next";
    }

    *:first-child {
      grid-area: back;
    }

    *:last-child {
      grid-area: next;
    }
  }

  //[data-content] {
  //  display: none;
  //  opacity: 0;
  //
  //  &.active {
  //    display: block;
  //
  //    animation-name: fade-in;
  //    animation-duration: 0.5s;
  //    animation-fill-mode: forwards;
  //  }
  //}

  &__submit {
    margin-top: 13px;
    padding: 14px 10px;
    display: block;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 1.2;
    color: $white-color;
    background-color: $black-color;
    border-radius: $border-radius;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__fieldset-label {
    position: absolute;
    top: -13px;
    left: 20px;
    padding: 5px;
    background-color: $white-color;
  }

  &__meta {
    margin-top: 5px;
    font-family: $font-family--secondary;
    font-size: 12px;
    line-height: 16px;
    color: $gray-dark-color;
  }

  &__reset {
    @include btn-default();

    margin-top: 15px;
    display: inline-block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.2;
    color: $red-color;

    @include media-breakpoint-up(lg) {
      margin-top: 13px;
      margin-left: 0;
      display: block;
    }
  }
}
