.page-section {

  &--top-line {
    margin-top: 55px;
    border-top: 1px solid $gray-color;
  }

  &--theme-primary {
    margin-top: 85px;
    padding-bottom: 30px;
    border: 1px solid transparent;
    background-color: $primary-color;
  }

  &--no-standard-tasks {
    padding-top: 35px;
  }

  &__container {
    @include container();

    .page-section--main-curve & {
      position: relative;

      &::before {
        position: absolute;
        top: -365px;
        left: -15vw;
        width: 1560px;
        height: 3472px;
        z-index: -1;
        background-image: url("~assets/images/svg/main-curve.svg");
        background-repeat: no-repeat;

        @include media-breakpoint-up(xl) {
          content: "";
        }
      }
    }
  }
}
