<label [class]="cssClass" [class.radio--invalid]="invalid">
  <input #radio
         type="radio" [id]="id" [name]="name"
         class="radio__input"
         (change)="changeValue(id || radio.checked)"
         [checked]="checked"
         [disabled]="disabled"
  >
  <div class="radio__body">
    <span class="radio__label">
      <ng-content></ng-content>
    </span>
    <span class="radio__meta">
      <ng-content select=".meta"></ng-content>
    </span>
    <ng-content select=".help"></ng-content>
  </div>
</label>
