@import '../../../../assets/scss/core/functions';
@import "../../../../assets/scss/core/breakpoints";
@import "../../../../assets/scss/core/mixins";
@import "../../../../variables";
@import "../../../../assets/scss/settings";

.table {
  position: relative;
  margin-top: 40px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    background: linear-gradient(90deg, transparent 20%, rgba($white-color, 0.9) 80%);

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &--inner {
    margin-top: 0;
  }

  &__scroll {
    overflow-x: auto;
  }

  &__content {
    width: 100%;
    min-width: 650px;
    border-collapse: collapse;
    white-space: nowrap;

    @include media-breakpoint-up(xl) {
      min-width: 100%;
      white-space: unset;
    }
  }

  &__label {
    padding: 15px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background: $primary-color;
    border-radius: $border-radius;
  }

  th, td {
    padding: 10px;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 18px;
    //width: 20%;
    min-width: 60px;

    &:not(:first-child) {
      text-align: center;
    }

    &:first-child {
      padding-right: 32px;
    }
  }

  th {
    font-size: 16px;
    line-height: 20px;

    &:not(:first-child) {
      border-bottom: 2px solid $primary-color;
    }
  }

  tr {
    &:nth-child(even) {
      background: #f3f1f1;
    }
  }

  td[colspan = "7"] {
    padding: 5px 0;
  }

}

.table--inner {

  tr:only-child {
    background: #f3f1f1;
  }

  th, td {
    &:first-child {
      padding-right: 10px;
    }
  }
}

.table--other {

  th, td {
    padding-top: 13px;
    padding-bottom: 13px;

    &:first-child {
      padding-right: 10px;
    }
  }

  th {

    &:not(:first-child) {
      background: $primary-color;
      border: none;
    }

    &:nth-of-type(2) {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

.note {
  margin: 100px 0 0 0;

  small {
    margin: 0;
    display: block;
    font-family: $font-family--secondary;
    font-size: 14px;
    color: $gray-dark-color;
  }
}

