<div class="page__container">
  <h1 class="page__title">Тарифы на перевозку по Приморскому краю</h1>
  <p class="page__subtitle">Для получения тарифов, выберите регион и город, из которого планируется отправление.</p>
</div>

<div class="page__container page__container--col-2-xl">
  <app-regions-box (changeCity)="setCurrentCity($event)"></app-regions-box>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <app-info-box *ngFor="let zone of zones" [title]="zone.zone">{{zone.cities}}</app-info-box>

    <app-loader *ngIf="isLoading; else tables"></app-loader>

     <ng-template #tables>
       <ng-container *ngIf="docsAndParcelsTariffs.length">
         <h2 class="title title--md">Документы и грузы</h2>

         <div class="table">
           <div class="table__scroll">
             <table class="table__content">
               <thead>
               <tr>
                 <th></th>
                 <th>Габариты</th>
                 <th>Документы</th>
                 <th>До 20 кг</th>
                 <th>20 - 40 кг</th>
                 <th>40 - 60 кг</th>
                 <!--            <th>60 - 80 кг</th>-->
                 <!--            <th>80 - 100 кг</th>-->
               </tr>
               </thead>
               <tbody *ngFor="let zone of docsAndParcelsTariffs">
               <tr>
                 <td [rowSpan]="zone.data.length"><b class="table__label">{{zone.name}}</b></td>
                 <td colspan="7">
                   <div class="table table--inner">
                     <table class="table__content">
                       <tr *ngFor="let item of zone.data">
                         <td>до {{item.size}} см</td>
                         <td>{{item.docs | currency: 'RUB':'symbol-narrow':'1.0':'ru'}}</td>
                         <ng-container *ngFor="let data of item.data; let i = index">
                           <td *ngIf="i < 3">
                             {{data ? (data.price | currency: 'RUB':'symbol-narrow':'1.0':'ru') : '&#8212;'}}
                           </td>
                         </ng-container>
                       </tr>
                     </table>
                   </div>
                 </td>
               </tr>
               </tbody>
             </table>
           </div>
         </div>
       </ng-container>

       <ng-container *ngIf="autoPartsTariffs.length">
         <h2 class="title title--md">Автозапчасти</h2>

         <div class="table table--other">
           <div class="table__scroll">
             <table class="table__content">
               <thead>
               <tr>
                 <th></th>
                 <th>Зона 1</th>
                 <th>Зона 2</th>
                 <th>Зона 3</th>
                 <th>Зона 4</th>
                 <th>Зона 5</th>
                 <th>Зона 6</th>
                 <th>Зона 7</th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let part of autoPartsTariffs">
                 <td><b>{{part.name}}</b></td>
                 <td *ngFor="let item of part.data">{{item ? (item.price
                   | currency: 'RUB':'symbol-narrow':'1.0':'ru') : '&#8212;'}}</td>
               </tr>
               </tbody>
             </table>
           </div>
         </div>
       </ng-container>

       <ng-container *ngIf="otherTariffs.length">
         <h2 class="title title--md">Другое</h2>

         <div class="table table--other">
           <div class="table__scroll">
             <table class="table__content">
               <thead>
               <tr>
                 <th></th>
                 <th>Зона 1</th>
                 <th>Зона 2</th>
                 <th>Зона 3</th>
                 <th>Зона 4</th>
                 <th>Зона 5</th>
                 <th>Зона 6</th>
                 <th>Зона 7</th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let part of otherTariffs">
                 <td><b>{{part.name}}</b></td>
                 <td *ngFor="let item of part.data">{{item ? (item.price
                   | currency: 'RUB':'symbol-narrow':'1.0':'ru') : '&#8212;'}}</td>
               </tr>
               </tbody>
             </table>
           </div>
         </div>
       </ng-container>
     </ng-template>

    <div class="note">
      <small>* <b>Документы</b> – это папка или файл с бумагой не более формата А4 и толщиной до 1,5 см без каких-либо сторонних вложений: флешки, карты и т.д.
      </small>
      <small>* <b>Габаритная посылка</b> – это груз до 20 кг и с суммой длин трёх сторон не более 130 см (30х30х70 см). Крупногабаритные посылки рассчитываются
        на месте при приёме.</small>
    </div>
<!--    {{{ media theme="two" title="Вы можете скачать файл «Правила приемки<br /> и отправки грузов» в формате PDF" link='{"href": "#", "text": "Скачать в PDF (80 кб)"}' imgName="pdf" imgWidth="36" imgHeight="40" mods="under-list" }}}-->
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Правила приемки и отправки грузов'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg, blue">Открыть файл</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
