<article class="example">
  <img class="example__img"
       src="{{examplesImagesPath}}/{{data.id}}.jpg"
       srcset="{{examplesImagesPath}}/{{data.id}}@2x.jpg 2x, {{examplesImagesPath}}/{{data.id}}@3x.jpg 3x">
  <div class="example__content">
    <h1 class="example__title" [innerHTML]="data.title"></h1>
    <app-link [routerLink]="['services/non-standard-tasks/post', data.id]" mods="gray">
      <app-icon name="info" width="22" height="21"></app-icon>Как мы решили эту задачу
    </app-link>
  </div>
</article>
