<section class="thanks-block">
  <div class="thanks-block__icon">
    <app-icon name="done.svg" width="135" height="150"></app-icon>
  </div>
  <div class="thanks-block__main">
    <h2 class="thanks-block__title">Спасибо!</h2>
    <p>Заявка № <b>{{id}}</b> успешно оформлена!</p>
    <div class="thanks-block__actions">
      <app-btn type="button" mods="max-w-270, lg, w-auto" (click)="goToOrderStatus()">Отследить заказ</app-btn>
<!--      <span>или</span>-->
<!--      <app-btn type="button" mods="max-w-270, lg, w-auto" (click)="goToIndex()">Оформить другой заказ</app-btn>-->
    </div>
  </div>
  <div class="thanks-block__aside">
<!--    <p>Зарегистрируйтесь на сайте и вам не придется заполнять форму снова, а данные о вашем заказе сохранятся в личном кабинете!</p>-->
<!--    <app-btn type="button" mods="lg" (click)="showLoginModal()">Зарегистрироваться на сайте</app-btn>-->
<!--    <app-btn type="button" mods="max-w-270, lg, w-auto, black" (click)="goToIndex()">Вернуться на главную</app-btn>-->
    <p>Ваш заказ успешно зарегистрирован в системе и в ближайшее время будет передан в работу.</p>
    <app-btn type="button" mods="max-w-270, lg, w-auto" (click)="goToIndex()">Оформить другой заказ</app-btn>
  </div>
</section>
