<div class="page__container">
  <h1 class="page__title">Доставка грузов из Аэропорта <br class="br br--show-md">в Приморском крае</h1>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    <ol class="list list--numbers">
      <li class="list__item">
        <p>Услуга предоставляется как юридическим, так и <br class="br br--show-md">физическим лицам.</p>
      </li>
      <li class="list__item">
        <p>Вы можете оформить доставку груза из аэропорта по <br class="br br--show-md">номеру телефона
          <app-link [href]="'tel:' + phoneNumber" mods="blue, no-underline, in-text">{{phoneNumber}}</app-link>
          или <app-link href="/orders/quick-order/new" mods="blue, no-underline, in-text">на сайте</app-link>
          с пометкой <br class="br br--show-md">"аэропорт".</p>
      </li>
      <li class="list__item">
        <p>Наш менеджер свяжется с вами и проинформирует о <br class="br br--show-md">стоимости и сроках доставки.</p>
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>Вам потребуется заполнить рекомендуемую форму <br class="br br--show-md">доверенности.</p>
          <app-media [data]="{title: 'Рекомендуемая форма доверенности для юр.лиц'}">
            <ng-container class="link">
              <app-link href="https://busbox.guru/uploads/pages/Рекомендуемая_форма_доверенности_для_юр.лиц.docx" mods="lg, blue">Скачать документ</app-link>
            </ng-container>
          </app-media>
          <div style="margin-top: 20px">
            <app-media [data]="{title: 'Рекомендуемая форма доверенности для физ.лиц'}">
              <ng-container class="link">
                <app-link href="https://busbox.guru/uploads/pages/Рекомендуемая_форма_доверенности_для_физ.лиц.docx" mods="lg, blue">Скачать документ</app-link>
              </ng-container>
            </app-media>
          </div>
        </div>
      </li>
      <li class="list__item">
        <p>Получить груз можно по адресу получателя, в одном из наших <br class="br br--show-md">филиалов или в
          населенном пункте, где нет нашего филиала, <br class="br br--show-md">встретить автобус на автостанции и забрать груз у водителя.</p>
      </li>
    </ol>
  </div>
<!--  <aside class="page__sidebar"></aside>-->
</div>

<div class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Авиакомпании, с которыми мы сотрудничаем</h2>
    <app-slider id="aero" [data]="icons"></app-slider>
  </div>
</div>
