<ul class="services">
  <li class="services__item">
    <app-icon name="home-point" width="42" height="42"></app-icon>
    <div class="services__text">Доставка в любые<br class="br br--show-xs">населенные пункты<br class="br br--show-xs">России</div>
  </li>
  <li class="services__item">
    <app-icon name="to-door" width="42" height="41"></app-icon>
    <div class="services__text">Доставка "от двери<br class="br br--show-xs">до двери"</div>
  </li>
  <li class="services__item">
    <app-icon name="schedule" width="42" height="42"></app-icon>
    <div class="services__text">Минимальные сроки<br class="br br--show-xs">доставки: от 2 до 4 дней</div>
  </li>
  <li class="services__item">
    <app-icon name="disk" width="46" height="44"></app-icon>
    <div class="services__text">Страхование груза на<br class="br br--show-xs">сумму до 25 000 руб.</div>
  </li>
  <li class="services__item">
    <app-icon name="geo" width="42" height="42"></app-icon>
    <div class="services__text">Отслеживание доставки<br class="br br--show-xs">груза online
    <app-link href="https://www.cse.ru/" mods="blue, in-text, no-underline">на сайте КСЕ</app-link>
    </div>
  </li>
  <li class="services__item">
    <app-icon name="track" width="42" height="35"></app-icon>
    <div class="services__text">Перевозка<br class="br br--show-xs">негабаритных грузов</div>
  </li>
</ul>
