<form class="form" [formGroup]="form" (submit)="onSubmit()">
  <div class="form__fieldset form__fieldset--2-col-sm">
    <ng-template ngFor let-control
                 [ngForOf]="formUtils.getGroupControls(form) | keyvalue: formUtils.originalOrder" let-i = index>
      <div *ngIf="i <= 2" class="form__field">
        <label [for]="control.key" class="form__label">
          {{ FormFieldMeta[control.key].label }}
        </label>
        <app-input [id]="control.key"
                   [type]="FormFieldMeta[control.key].type"
                   [formControlName]="control.key"
                   [mask]="FormFieldMeta[control.key].mask"
                   [prefix]="FormFieldMeta[control.key].prefix"
                   [invalid]="(control.value.invalid && control.value.touched)"
        >
          <ng-container class="errors">
            <small *ngIf="utils.getObjectKey(control.value.errors).length">
              {{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}
            </small>
          </ng-container>
        </app-input>
      </div>
    </ng-template>
  </div>
  <div class="form__fieldset form__fieldset--2-col-sm">
    <ng-template ngFor let-control
                 [ngForOf]="formUtils.getGroupControls(form) | keyvalue: formUtils.originalOrder" let-i = index>
      <div *ngIf="i > 2" class="form__field">
        <label [for]="FormControlName.ProxyNumber + '-' + control.key" class="form__label">
          {{ FormFieldMeta[control.key].label }}
        </label>
        <ng-container *ngIf="control.key === FormControlName.DocDate; else input">
          <app-datepicker
            [formControlName]="control.key"
            [invalid]="control.value.invalid && control.value.touched"
            mods="no-shadow">
            <ng-container class="errors">
              <small *ngIf="utils.getObjectKey(control.value.errors).length">
                {{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}
              </small>
            </ng-container>
          </app-datepicker>
        </ng-container>
        <ng-template #input>
          <app-input [id]="FormControlName.ProxyNumber + '-' + control.key"
                     [type]="FormFieldMeta[control.key].type"
                     [formControlName]="control.key"
                     [mask]="FormFieldMeta[control.key].mask"
                     [prefix]="FormFieldMeta[control.key].prefix"
                     [invalid]="(control.value.invalid && control.value.touched)"
          >
            <ng-container class="errors">
              <small *ngIf="utils.getObjectKey(control.value.errors).length">
                {{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}
              </small>
            </ng-container>
          </app-input>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div class="form__fieldset form__fieldset--2-col-sm">
    <div class="form__field">
      <span class="form__label">&#160;</span>
      <app-btn type="submit" mods="lg">Сохранить данные</app-btn>
    </div>
    <div class="form__field form__field--cancel">
      <app-link mods="lg, blue" (click)="cancel($event)">Отменить</app-link>
    </div>
  </div>
</form>
