<footer class="page-footer">
  <div class="page-footer__container">
    <div class="page-footer__top">
      <a href="/" class="page-footer__logo page-footer__logo--desktop">
        <app-icon name="footer-logo"></app-icon>
      </a>
      <ul class="page-footer__nav">
        <li *ngFor="let item of topNav">
          <a [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    <div class="page-footer__main">
      <div *ngFor="let item of mainNav" class="page-footer__item page-footer__item--desktop page-footer__item--services" [class.page-footer__item--services]='item.name === "Услуги"'>
        <b class="page-footer__header">
          <a *ngIf="item.link; else noLink" [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active">{{item.name}}</a>
          <ng-template #noLink>
            <a class="page-footer__link" routerLinkActive="page-footer__link--active">{{item.name}}</a>
          </ng-template>
        </b>
        <ul class="page-footer__list">
          <li *ngFor="let item of item.dropdown">
            <a [routerLink]="item.link" class="page-footer__link" routerLinkActive="page-footer__link--active" [class.page-footer__link--sm]="item.sm">{{ item.name }}</a>
          </li>
        </ul>
      </div>
      <div class="page-footer__item page-footer__item--contacts">
        <a href="#" class="page-footer__logo page-footer__logo--mobile">
          <app-icon name="footer-logo"></app-icon>
        </a>
        <a href="tel:+74232026532" class="page-footer__contact page-footer__contact--phone mgo-number-13954">
          <app-icon name="phone" width="15" height="15"></app-icon>
          <span>+7 4232 026532</span>
        </a>
<!--        <a href="https://instagram.com/bus_box?utm_medium=copy_link" target="_blank" class="page-footer__contact">-->
<!--          <app-icon name="instagram" width="20" height="20"></app-icon>-->
<!--          <span>Наш инстраграм</span>-->
<!--        </a>-->
        <a [href]="'mailto:' + email" class="page-footer__link page-footer__link--email">{{email}}</a>
      </div>
    </div>
    <div class="page-footer__bottom">
      <div class="page-footer__item">
        <small class="page-footer__text">2013-2022 © ООО «Регион курьер»</small>
      </div>
      <div class="page-footer__item">
        <a href="/info/privacy-policy" class="page-footer__link page-footer__link--sm">Политика конфиденциальности</a>
      </div>
      <div class="page-footer__item">
        <small href="#" class="page-footer__text">Идея и дизайн сайта: </small>
        <a href="https://lead-wave.ru/" target="_blank" class="page-footer__link">LEAD WAVE</a>
      </div>
    </div>
  </div>
</footer>
