@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.page-footer {
  margin-top: 60px;
  padding-top: 30px;
  background-color: $secondary-color;

  .page-contacts ~ &,
  .page-section--theme-primary ~ & {
    margin-top: 0;
  }

  ::ng-deep .page--order-sidebar-open & {
    filter: blur(3px);

    @include media-breakpoint-up(lg) {
      filter: unset;
    }
  }

  &__container {
    @include container();

    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr auto;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }

  }

  &__logo {
    //margin-bottom: 10px;

    &--mobile {
      display: block;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  ::ng-deep &__logo svg {
    width: 85px;
    height: 50px;

    @include media-breakpoint-up(lg) {
      width: 130px;
      height: 75px;
    }
  }

  &__top {

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 70px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-row-gap: 20px;

    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0 20px 0;
      grid-template-columns: repeat(6, auto);
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba($white-color, 0.075);
    }
  }

  &__main {
    margin-bottom: 40px;
    order: -1;

    @include media-breakpoint-up(md) {
      order: unset;
    }

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 30% repeat(3, auto);
      justify-content: space-between;

      //grid-template-columns: 2fr repeat(3, 1fr);
      grid-column-gap: 70px;
    }
  }

  &__header {
    margin-bottom: 30px;
    display: block;
  }

  &__item {

    &--desktop {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    &--contacts {
      display: grid;
      grid-template-columns: repeat(2, auto);
      //grid-column-gap: 15px;
      grid-row-gap: 30px;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(3, auto);
      }

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list li {
    margin-bottom: 13px;


    .page-footer__item--services & {
      margin-bottom: 19px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;

    &--active {
      color: $primary-color !important;
    }

    @include hover {
      opacity: 0.8;
    }

    .page-footer__nav & {

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }

    &--email {
      display: block;
      color: $primary-color;
      text-align: right;

      @include media-breakpoint-up(md) {
        margin-top: 25px;
        margin-left: 23px;
        text-align: unset;
      }
    }

    &--location {
      display: block;

      @include media-breakpoint-up(md) {
        margin-top: 30px;
        margin-left: 23px;
      }
    }

    &--sm {
      font-size: 13px;
      color: $gray-dark-color;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1.2;
    color: $gray-dark-color;
  }

  &__link-text {
    position: relative;
    margin-left: 6px;
    display: inline-block;
    vertical-align: top;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: 0;
      left: 0;
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: $white-color;
    }
  }

  &__contact {
    padding: 15px 23px;
    font-family: $font-family;
    font-size: 15px;
    line-height: 1.2;
    color: $font-color;
    background-color: $white-color;
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.015);
    border-radius: 23px;

    @include hover {
      opacity: 0.8;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }

    &--phone {
      @include media-breakpoint-up(md) {
        margin-bottom: 15px;
      }
    }
  }

  ::ng-deep &__contact svg {
    margin-right: 8px;
    //width: 15px;
    //height: 15px;
    display: inline-block;
    vertical-align: middle;
  }

  &__contact span {
    position: relative;
    top: 1px;
    vertical-align: middle;
  }

  &__bottom {
    position: relative;
    margin-top: 45px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: grid;
    grid-row-gap: 10px;
    border-top: 1px solid rgba($white-color, 0.075);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      height: 1px;
      width: $container-padding-x;
      background-color: rgba($white-color, 0.075);
    }

    &::before {
      left: -$container-padding-x;
    }

    &::after {
      right: -$container-padding-x;
    }

    @include media-breakpoint-up(md) {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 30% 1fr auto;
      justify-content: start;
      align-items: center;
      grid-column-gap: 70px;
    }
  }
}


//contacts page remove space between it and footer
::ng-deep app-contacts-page ~ app-page-footer > .page-footer {
  margin-top: 0 !important;
}

::ng-deep .non-standard-tasks app-page-footer > .page-footer {
  margin-top: 0 !important;
}
