<div class="pickup">
  <div *ngFor="let city of cities" class="pickup__section">
    <button type="button" class="pickup__btn" [class.pickup__btn--active]="activePanel === city" (click)="showContacts(city)">
      <b class="pickup__label">{{city.name}} <span>({{city.points.length}} отделения)</span></b>
      <app-icon class="icon" [name]="activePanel === city ? 'minus' : 'plus'" width="19" height="19"></app-icon>
    </button>
    <div *ngIf="activePanel === city" class="pickup__panel" [class.pickup__panel--active]="activePanel === city" [@activePanel]="">
      <div class="pickup__contact">
        <app-contact-box *ngFor="let city of city.points" [data]="city"></app-contact-box>
      </div>
      <div *ngIf="!minWidthMD && activePanel.coords.length" class="pickup__map">
        <app-map
          mods="pickup"
          [points]="activePanel.coords"
          [latitude]="activePanel.coords[0].geo_x"
          [longitude]="activePanel.coords[0].geo_y"
          [zoom]="12"
          [disableDefaultUI]="false"
          [gestureHandling]="true"
          [scrollwheel]="false"
          [styles]="[{
          stylers: [{
            saturation: -100
          }]
        }]"
        ></app-map>
      </div>
    </div>
  </div>
</div>

