@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.pickup {
  $accordion-content-left: 25px;
  $accordion-content-right: 20px;

  &__btn {
    margin-bottom: 10px;
    padding: 0.75em $accordion-content-right 0.75em $accordion-content-left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1.25;
    color: $black-color;
    background-color: $white-color;
    border: 1px solid $gray-light-color;
    border-radius: $border-radius;
    box-shadow: 0px 7px 20px rgba($black-color, 0.07);
    transition: all $transition-time ease-in;
    cursor: pointer;

    @include hover {
      background-color: lighten($gray-light-color, 7%);
    }

    @include active {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    @include focus {
      outline: none;
    }

    &--active {
      margin-bottom: 0;
      background-color: $primary-color;
      border-color: transparent;
      box-shadow: none;

      @include hover {
        background-color: $primary-color;
      }
    }

    .pickup__section:last-child & {
      margin-bottom: 0;
    }

    ::ng-deep svg {
      --color: #808080;
      --circle-bg-color: #F2F2F2;
    }

    ::ng-deep &--active svg {
      --circle-bg-color: #FFFFFF;
    }
  }

  &__label {
    display: block;
    font-weight: 500;
  }

  &__label span {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
  }

  &__indicator {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: $gray-light-color--up-5;
    border-radius: 50%;

    .accordion__input:checked ~ .accordion__nav & {
      background-color: $white-color;
    }

    //&::before,
    //&::after {
    //  content: "";
    //}

    &::before {
      content: "\2795";
      position: absolute;
      top: 5px;
      left: 5px;
      font-family: $font-family--secondary;
      font-size: 8px;
      font-style: normal;
      color: $gray-dark-color;
    }

    //&::before {
    //  top: 6px;
    //  bottom: 6px;
    //  left: 49.95%;
    //  width: 1px;
    //}
    //
    //&::after {
    //  left: 6px;
    //  right: 6px;
    //  top: calc(50% - 1px);
    //  height: 1px;
    //}
  }

  &__panel {
    //padding-left: $accordion-content-left;
    box-sizing: border-box;
    transition: all 0.25s ease-in;

    &--active {
      padding-top: 17px;
      padding-bottom: 20px;
    }
  }

  //app-icon {
  //  display: inherit;
  //}
}
