@import '../../../../../../assets/scss/core/functions';
@import "../../../../../../assets/scss/core/breakpoints";
@import "../../../../../../assets/scss/core/mixins";
@import "../../../../../../variables";
@import "../../../../../../assets/scss/settings";

.rates-box {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 30px 0 20px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 30px;
  border-top: 1px solid $gray-light-color;
  border-bottom: 1px solid $gray-light-color;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 210px 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 0;
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
    padding: 40px 0 40px 0;
    grid-column-gap: 30px;
    //grid-column-gap: 130px;
    //max-width: 770px;
  }

  &__heading {
    margin: 0 0 17px 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;

    &:first-of-type {
      @include media-breakpoint-up(sm) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }

    &:last-of-type {
      @include media-breakpoint-up(sm) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }

  ::ng-deep &__col {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    align-content: flex-start;
  }

  &__col--cities {
    //display: flex;
    //flex-wrap: wrap;
    //
    //& > * {
    //  margin-right: 30px;
    //}

    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    align-content: start;
    justify-content: start;

    @include media-breakpoint-up(sm) {
      //grid-template-columns: repeat(2, auto);
      grid-column-gap: 40px;
    }

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, auto);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, auto);
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 60px;
      //justify-content: space-between;
    }
  }

  &__loader {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}
