<div class="rates-box">
  <div *ngIf="isLoading" class="rates-box__loader">
    <app-loader></app-loader>
  </div>

  <ng-container *ngIf="!isLoading">
    <h2 class="rates-box__heading">Регион:</h2>
    <div class="rates-box__col">
      <app-radio *ngFor="let region of regions" name="regions"
                 (change)="setCurrentRegion(region.id)" [checked]="region.id === currentRegion">
        <ng-container class="text">
          {{region.name}}
        </ng-container>
      </app-radio>
    </div>
    <h2 class="rates-box__heading">Город:</h2>
    <div class="rates-box__col rates-box__col--cities">
      <ng-container *ngIf="currentRegion === Region.Primorye">
        <app-radio *ngFor="let city of cities[Region.Primorye]" name="cities" (change)="setCurrentCity(city.site_id)" [checked]="city.site_id == currentCity">
          <ng-container class="text">
            {{city.name}}
          </ng-container>
        </app-radio>
      </ng-container>
      <ng-container *ngIf="currentRegion === Region.Khabarovsk">
        <app-radio *ngFor="let city of cities[Region.Khabarovsk]" name="cities" (change)="setCurrentCity(city.site_id)" [checked]="city.site_id == currentCity">
          <ng-container class="text">
            {{city.name}}
          </ng-container>
        </app-radio>
      </ng-container>
    </div>
  </ng-container>
</div>
