<div class="images-box">
  <app-img name="{{imagesPath}}/img-1" alt="Возможно это ты"></app-img>
  <app-img name="{{imagesPath}}/img-2" alt="Возможно это ты"></app-img>
  <app-img name="{{imagesPath}}/img-3" alt="Возможно это ты"></app-img>
</div>
