@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.privacy-page {

  ::ng-deep p:first-of-type {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: $font-family;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }

  ::ng-deep strong {
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    line-height: 26px;
  }

  &::ng-deep a {
    color: $blue-color;
    text-decoration: none;

    @include hover {
      color: lighten($blue-color, 5%);
    }
  }
}
