<div class="achievements">
  <div class="achievements__item">
    <b>2013</b>
    <small>год основания</small>
  </div>
  <div class="achievements__item">
    <b>7</b>
    <small>открытых филиалов</small>
  </div>
  <div class="achievements__item">
    <b>657 072</b>
    <small>совершено и <br class="br br--show-xs">принято звонков</small>
  </div>
  <div class="achievements__item">
    <b>2</b>
    <small>региона: Приморье <br class="br br--show-xs">и Хабаровский край</small>
  </div>
  <div class="achievements__item">
    <b>1 062 000</b>
    <small>посылок и грузов <br class="br br--show-xs">отправлено</small>
  </div>
  <div class="achievements__item">
    <b>600</b>
    <small>заключенных договоров <br class="br br--show-xs">с юр. лицами
    </small>
  </div>
  <div class="achievements__item">
    <b>51 350</b>
    <small>выполненных <br class="br br--show-xs">курьерских заявок</small>
  </div>
  <div class="achievements__item">
    <b>5 400</b>
    <small>кг. грузов прибыло <br class="br br--show-xs">с регионов Приморья</small>
  </div>
</div>
