<div class="account">
  <div class="account__main">
    <app-account-media [path]="['inner', 'orders']" title="Мои заявки">
      <app-icon name="orders" width="65" height="51"></app-icon>
      Вы еще не создали ни одного отправления<br />Посмотрите историю ваших отправлений.
    </app-account-media>
    <app-account-media [path]="['inner', 'personal']" title="Персональные данные">
      <app-icon name="profile" width="65" height="54"></app-icon>
      Вы еще не создали ни одного отправления<br />Посмотрите историю ваших отправлений.
    </app-account-media>
    <app-account-media [path]="['inner', 'report']" title="Сформировать отчет">
      <app-icon name="report" width="48" height="66"></app-icon>
      Удобное формирование отчета с применением фильтров.
    </app-account-media>
  </div>

  <div class="account__sidebar">
    <app-balance-block></app-balance-block>
    <div class="account__sidebar-btn">
      <app-btn type="button" mods="lg, w-full" (click)="showOrderModal()">Оформить заказ</app-btn>
    </div>
<!--    <div class="account__sidebar-btn">-->
<!--      <app-btn type="button" mods="lg, w-full, black" (click)="showInvoiceModal()">Сформировать отчет</app-btn>-->
<!--    </div>-->
    <div class="account__logout">
      <app-link mods="lg, no-underline" (click)="logout()">
        Выйти из личного кабинета
        <app-icon name="user-unlogged" width="27" height="27"></app-icon>
      </app-link>
    </div>
  </div>
</div>
