<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Расчет стоимости перевозки <br class="br br--show-sm">по Приморскому краю</h1>
    <form action="#" class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form__section" [class.form__section--w-underline]="departure.cityId && delivery.cityId" [style]="{marginBottom: departure.cityId && delivery.cityId ? '50px' : '0'}">
        <div class="form__fieldset form__fieldset--delivery">
          <div>
            <h2 class="form__heading form__heading--no-mgb">Откуда</h2>
            <app-departure-point-form
              noLabel="true"
              [formControlName]="FormControlName.DeparturePoint"></app-departure-point-form>
          </div>
          <div>
            <h2 class="form__heading form__heading--no-mgb">Куда</h2>
            <app-delivery-point-form
              noLabel="true"
              [formControlName]="FormControlName.DeliveryPoint"></app-delivery-point-form>
          </div>
        </div>
      </div>
      <div *ngIf="departure.cityId && delivery.cityId">
        <app-orders-form [departure]="departure" [delivery]="delivery" formControlName="orders"></app-orders-form>
      </div>
      <div *ngIf="departure.cityId && delivery.cityId" class="form__fieldset form__fieldset--delivery">
        <app-btn *ngIf="!isBreakpointMatched" type="submit" mods="lg" [disabled]="form.invalid || isSubmitted && !isTotalSumUpdated">
          <app-loader *ngIf="isSubmitted && !isTotalSumUpdated; else text" mods="sm, black"></app-loader>
          <ng-template #text>
            {{isSubmitted ? 'Оформить заказ' : 'Рассчитать стоимость' }}
          </ng-template>
        </app-btn>
        <app-btn *ngIf="isBreakpointMatched" type="submit" mods="lg" [disabled]="form.invalid || isSubmitted">
          Рассчитать стоимость
        </app-btn>
        <button type="button" *ngIf="isSubmitted && !isBreakpointMatched" class="form__reset" (click)="clearAllForm()">Сбросить расчет</button>
      </div>
    </form>
    <app-text-box>
      <p>Компания «Баскурьер» – это современная курьерская служба экспресс-доставки на Дальнем Востоке.
        Ежедневно мы успешно организовываем курьерскую доставку посылок, документов и различных грузов из г. Владивостока
        в г. Хабаровск, Уссурийск, Находку, Дальнегорск, Кавалерово и др. с помощью РЕЙСОВЫХ АВТОБУСОВ!</p>
      <p>Мы предлагаем приемлемые тарифы,
        высокую скорость доставки и ручаемся за каждый наш груз. Мы не работаем по принципу «наборных грузов», а доставляем вашу посылку
        в ближайшее время с момента оформления заказа. Это осуществляется за счет регулярного движения междугородных автобусов и наличию
        большого количества рейсов по многим направлениям.</p>
      <div class="hidden">
        <p>Мы – Баскурьер, предлагаем нашим клиентам следующие курьерские услуги:
          Доставка и забор грузов от двери до двери, забор грузов в Аэропорту г. Владивостока, срочная доставка груза в г. Хабаровск,
          срочная доставка документов по Приморскому краю от 2 до 24 часов.</p>
        <p>У наших клиентов есть уникальная возможность – хранение на складе в течение суток бесплатное! А это значит, что вы можете
          забрать свое отправление в любое удобное для вас время. Для того, чтобы узнать стоимость отправки рейсовым автобусом вашего
          груза, мы предусмотрели для Вас – онлайн калькулятор. Введите необходимые данные, и Вы узнаете сколько стоит перевозка того
          или иного груза. Головной офис нашей компании находится в г. Владивостоке, а филиалы расположены в г. Находке, г. Артеме,
          г. Уссурийске и г. Хабаровске – на базе автовокзалов; в г. Дальнегорске, в г. Арсеньеве и г. Спасске-Дальнем – на базе наших
          партнеров.</p>
        <p>Мы сотрудничаем не только с частными лицами, но и с крупными российскими компаниями: Аэрофлот, S7 Airlines, EASTJET,
          Аврора, Сбербанк, Гиперавто, Юнилаб. Компания Баскурьер – всегда открыта перед своими клиентами! Вы можете воспользоваться
          услугой – отслеживание груза у нас на сайте или подключить услугу расширенных смс-уведомлений, чтобы быть в курсе обо всех
          этапах курьерской доставки вашей посылки.</p>
      </div>
    </app-text-box>
  </div>
  <app-sidebar
     (totalSumUpdated)="isTotalSumUpdated = $event"
     (clear)="clearAllForm()">
  </app-sidebar>
</div>
