<ul class="main-nav">
  <li *ngFor="let item of nav" class="main-nav__item" [class.main-nav__item--dropdown]="item.dropdown">
    <a [routerLink]='item.link' class="main-nav__link" routerLinkActive="main-nav__link--active" (mouseenter)="showDropdown(item)">
      <span *ngIf="item.dropdown">{{item.name}}</span>
      <ng-template [ngIf]="!item.dropdown">{{item.name}}</ng-template>
    </a>
    <ul *ngIf="item.dropdown && activeItem === item" class="main-nav__dropdown" [@dropdown]="">
      <li *ngFor="let item of item.dropdown" class="main-nav__item">
        <a [routerLink]='item.link' class="main-nav__link" routerLinkActive="main-nav__link--active" (click)="activeItem = null">
          <span *ngIf="item.dropdown">{{item.name}}</span>
          <ng-template [ngIf]="!item.dropdown">{{item.name}}</ng-template>
        </a>
      </li>
    </ul>
  </li>
</ul>
<div *ngIf="activeItem" class="main-nav__backdrop" (mouseenter)="activeItem = null"></div>
