<section class="form__section" [formGroup]="formGroup">
  <h2 class="form__heading">Отправитель</h2>
  <div class="form__fieldset form__fieldset--2-col-sm">
    <div *ngFor="let control of formUtils.getGroupControls(formGroup) | keyvalue: formUtils.originalOrder"
         class="form__field" [class.form__field--full]="control.key === FormControlName.Fio">
      <label [for]="FormControlName.Sender + '-' + control.key" class="form__label"
             [class.form__label--invalid]="control.value.invalid">
        {{FormFieldMeta[control.key].label}}
        <sup *ngIf="control.value.errors && control.value.hasError('required')" class="form__required">*</sup>
      </label>
      <app-select *ngIf="control.key === FormControlName.Doc; else input"
                  [formControlName]="control.key"
                  [invalid]="(control.value.invalid && control.value.touched)"
                  [items]="userDocs"
                  (change)="changeUserDoc($event)">
<!--        <ng-container class="errors">-->
<!--          <small *ngIf="utils.getObjectKey(control.value.errors).length">{{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}</small>-->
<!--        </ng-container>-->
      </app-select>
      <ng-template #input>
        <app-input
          [type]="FormFieldMeta[control.key].type"
          [id]="FormControlName.Sender + '-' + control.key"
          [formControlName]="control.key"
          [mask]="FormFieldMeta[control.key].mask"
          [prefix]="FormFieldMeta[control.key].prefix"
          [showMaskTyped]="FormFieldMeta[control.key].showMaskTyped"
          [inputmode]="FormFieldMeta[control.key].inputmode"
          [invalid]="(control.value.invalid && control.value.touched)"
        >
<!--          <ng-container class="errors">-->
<!--            <small *ngIf="utils.getObjectKey(control.value.errors).length">{{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}</small>-->
<!--          </ng-container>-->
        </app-input>
      </ng-template>
    </div>
    <small *ngIf="isOtherUserDoc" style="color: red;">
      Обратитесь в службу поддержки для консультации по номеру: 8 800 000 00
    </small>
  </div>
</section>
