<div class="page__container page__container--col-2">
  <h1 class="page__title">Документы для отправителей <br class="br br--show-sm">и получателей Приморского края</h1>
  <p class="page__subtitle">В данном разделе вы сможете найти все необходимые документы для работы <br class="br br--show-md br--hide-lg br--show-xl">с компанией Баскурьер и скачать их.</p>
</div>

<div class="page__container">
  <div class="page__content page__content--media">
    <app-media [data]="{title: 'Правила приемки и отправки грузов Баскурьер'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Договор на оказание услуг Баскурьер'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Договор_на_оказание_услуг_Баскурьер.docx" mods="lg, blue">Скачать документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Расписание отправлений Владивосток'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Расписание_отправлений_Владивосток.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Упаковка прайс'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Упаковка_прайс.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Артём'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Артём.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Владивосток (Алеутская)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Владивосток_Алеутская.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Владивосток (Гоголя)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Владивосток_Гоголя.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Владивосток (Русская)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Владивосток_Русская.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Дальнегорск'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Дальнегорск.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Уссурийск'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Уссурийск.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Хабаровск'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_Хабаровск.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Артём (курьер)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_курьер_Артём.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Владивосток (курьер)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_курьер_Владивосток.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Находка (курьер)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_курьер_Находка.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Уссурийск (курьер)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_курьер_Уссурийск.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
    <app-media [data]="{title: 'Тарифы Хабаровск (курьер)'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/tarifs/Тарифы_курьер_Хабаровск.pdf" mods="lg, blue">Открыть документ</app-link>
      </ng-container>
    </app-media>
  </div>
<!--  <aside class="page__aside">-->
<!--    <app-media>-->
<!--      <ng-container class="link">-->
<!--        <app-link href="#" mods="lg, blue">Документы для Приморского края</app-link>-->
<!--      </ng-container>-->
<!--    </app-media>-->
<!--  </aside>-->
</div>
