<div class="services">
  <a routerLink="/services/cargo-insurance" class="services__item services__item--insurance">
    <div class="services__overlay">
      <h1 class="services__title">Страхование груза</h1>
      <p class="services__text">Защита от любых непредвиденных ситуаций.</p>
    </div>
  </a>
  <a routerLink="/services/non-standard-tasks" class="services__item services__item--tasks">
    <div class="services__overlay">
      <h1 class="services__title">Решение нестандартных логистических задач</h1>
      <p class="services__text">Предлагаем индивидуальные решения для выполнения нестандартных задач.</p>
    </div>
  </a>
  <a routerLink="/eshops" class="services__item services__item--internet">
    <div class="services__overlay">
      <h1 class="services__title">Доставка посылок из интернет-магазинов со всего мира</h1>
      <p class="services__text">Мы представляем официальные пункты выдачи
        международных курьерских служб: BoxBerry, IML, Hermes, КСЭ.</p>
    </div>
  </a>
  <a routerLink="/services/courier" class="services__item services__item--courier">
    <div class="services__overlay">
      <h1 class="services__title">Забор и доставка груза курьером</h1>
      <p class="services__text">Мы заберем груз перед отправкой и доставим до нужного адреса.</p>
    </div>
  </a>
</div>
