@import '../../../../../../assets/scss/core/functions';
@import "../../../../../../assets/scss/core/breakpoints";
@import "../../../../../../assets/scss/core/mixins";
@import "../../../../../../variables";
@import "../../../../../../assets/scss/settings";

.services {
  $border-radius: 10px;

  margin-top: 30px;

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 230px;
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
    background-color: $black-color;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      height: 250px;
    }

    &:nth-child(2),
    &:nth-child(3) {

      @include media-breakpoint-up(lg) {
        grid-column: span 2;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      border-radius: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-in;
    }

    @include hover {
      &::before {
        transform: scale(1.2);
      }
    }

    &--insurance::before {
      @include bg-image("/assets/images/pages/services-group/index-page/components/services/images/insurance", "jpg");
    }

    &--tasks::before {
      @include bg-image("/assets/images/pages/services-group/index-page/components/services/images/tasks", "jpg");
      background-position-y: 85%;

      @include media-breakpoint-up(lg) {
        background-position-y: 91%;
      }
    }

    &--internet::before {
      @include bg-image("/assets/images/pages/services-group/index-page/components/services/images/eshops", "jpg");
      background-position-y: 92%;
    }

    &--courier::before {
      @include bg-image("/assets/images/pages/services-group/index-page/components/services/images/courier", "jpg");
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 17px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba($black-color, 0.5);
    border-radius: $border-radius;

    //@include media-breakpoint-up(sm) {
    //  padding-bottom: 30px;
    //}

    @include media-breakpoint-up(lg) {
      padding-bottom: 40px;
    }
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $white-color;
  }

  &__text {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: $white-color;
  }
}
