<div class="page__container">
  <h1 class="page__title">О компании Баскурьер</h1>
  <app-about></app-about>
</div>
<div class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">Наши ценности</h2>
    <app-advantages></app-advantages>
  </div>
</div>
<app-social></app-social>
<div class="page__container">
 <app-team></app-team>
</div>
<div class="page-section page-section--top-line">
  <div class="page-section__container">
    <h2 class="title title--md">О нас в цифрах</h2>
    <app-achievements></app-achievements>
  </div>
</div>
