@import '../../../../../../../assets/scss/core/functions';
@import "../../../../../../../assets/scss/core/breakpoints";
@import "../../../../../../../assets/scss/core/mixins";
@import "../../../../../../../variables";
@import "../../../../../../../assets/scss/settings";

:host {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 0;
  }
}

.sidebar-result {
  @keyframes update {
    0% {
      background-color: rgba($green-color, 0.8);
    }

    100% {
      background-color: transparent;
    }
  }

  $box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;

  &.active {
    top: 80px;
    background-color: rgba($black-color, 0.5);

    @include media-breakpoint-up(lg) {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(lg) {
    position: static;
    display: block;
    margin-top: 125px;
  }

  //&--in-modal {
  //  position: relative;
  //  margin-top: 0;
  //  display: block;
  //}

  &__link {
    margin-left: $container-padding-x * 2;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    background-color: $white-color;

    .sidebar-result.active & {
      box-shadow: $box-shadow;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 25px;
      padding: 15px ($container-padding-x * 2) 25px ($container-padding-x * 2);
      border-radius: $border-radius;
    }


    //.sidebar-result--in-modal & {
    //  margin-top: 0;
    //  padding: 0;
    //  box-shadow: none;
    //}

    //.sidebar-result--in-modal .sidebar-result.active & {
    //  box-shadow: none;
    //}
  }

  &__title {
    margin: 0 0 10px  0;
    padding: 0 $container-padding-x;
    display: none;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 1.4;

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: block;
    }
  }

  &__details {
    padding: 20px $container-padding-x 0;
    display: none;
    //height: 340px;

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: block;
      height: auto;
    }

    .sidebar-result.active & {
      display: block;
    }
  }

  &__info {
    padding: 10px $container-padding-x;
    display: none;

    .sidebar-result.active & {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: block;
    }

    //.sidebar-result--in-modal .sidebar-result.active & {
    //  display: none;
    //}
  }

  &__total {
    padding: 15px $container-padding-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $box-shadow;
    order: 1;

    @include media-breakpoint-up(lg) {
      margin-top: 15px;
      margin-bottom: 20px;
      padding: 0;
    }

    .sidebar-result.active & {
      border-top: 1px solid $gray-light-color;
      box-shadow: none;

      @include media-breakpoint-up(lg) {
        margin-top: 20px;
        border-top: none;
      }
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: block;
      box-shadow: none;
      order: unset;
    }

    &--updated {
      animation: update;
      animation-duration: 1s;
      animation-fill-mode: forwards;

      @include media-breakpoint-up(lg) {
        animation: none;
      }
    }
  }

  &__total p {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;

    @include media-breakpoint-up(lg) {
      font-size: 28px;
    }

    //.sidebar-result--in-modal & {
    //  font-size: 28px;
    //}
  }

  &__footer {
    margin-bottom: 15px;
    padding: 10px $container-padding-x 0 $container-padding-x;
    display: none;
    flex-wrap: wrap;

    //.sidebar-result.active & {
    //  //display: flex;
    //
    //  @include media-breakpoint-up(lg) {
    //    display: block;
    //  }
    //}

    .sidebar-result.active & {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      padding: 0;
      display: block;
    }

    //.sidebar-result--in-modal & {
    //  padding: 0;
    //  display: block;
    //}
  }

  &__footer small {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-family: $font-family--secondary;
    font-size: 12px;
    line-height: 1.2;
    color: $gray-color--down-11;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  &__reset {
    @include btn-default();

    margin-left: 15px;
    display: inline-block;
    font-family: $font-family--secondary;
    font-size: 14px;
    line-height: 1.2;
    color: $red-color;

    @include media-breakpoint-up(lg) {
      margin-top: 13px;
      margin-left: 0;
      display: block;
    }
  }

  &__collapse {
    @include btn-default();

    position: relative;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-light-color;
    border-radius: $border-radius;

    .sidebar-result.active & {
      background-color: $gray-light-color--up-5;
    }

    //@include media-breakpoint-up(lg) {
    //  display: none;
    //}

    &::before {
      content: "";
      position: absolute;
      // top: 4px;
      // left: 4px;
      display: block;
      width: 5px;
      height: 5px;
      border: 1px solid $gray-dark-color;
      border-bottom-width: 0;
      border-right-width: 0;

      transform: rotate3d(0, 0, 1, 45deg);

      .sidebar-result.active & {
        border-bottom-width: 1px;
        border-right-width: 1px;
        border-top-width: 0;
        border-left-width: 0;
      }
    }
  }

  .gray {
    color: $gray-color;
  }

  .lg {
    font-size: 16px;
  }
}
