@import '../../../../../../assets/scss/core/functions';
@import "../../../../../../assets/scss/core/breakpoints";
@import "../../../../../../assets/scss/core/mixins";
@import "../../../../../../variables";
@import "../../../../../../assets/scss/settings";

.traffic {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 50px;
  }

  @include media-breakpoint-up(lg) {
    grid-column-gap: 70px
  }

  &__item {
    text-decoration: none;
    cursor: pointer;

    @include hover {
      opacity: 0.8;
    }

    img {
      min-height: 32vw;

      @include media-breakpoint-up(xl) {
        min-height: 415px;
      }
    }
  }

  &__title {
    margin: 0 0 13px 0;
    font-family: $font-family--secondary;
    font-size: 22px;
    line-height: 27px;
    color: $font-color;
    font-weight: 500;

    span {
      position: relative;
      padding-left: 0.3em;
      display: inline-block;

      @include media-breakpoint-up(md) {
        padding-left: 0;
        display: inline;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 0.3em;
        display: inline-block;
      }

      &::before {
        content: "";
        position: absolute;
        top: -0.09em;
        right: -0.3em;
        bottom: -0.09em;
        left: 0;
        z-index: -1;
        border-radius: 5px;
        background-color: #FFDC00;

        @include media-breakpoint-up(md) {
          display: none;
        }

        @include media-breakpoint-up(xl) {
          display: block;
        }
      }
    }
  }

  &__text {
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $font-color;
    opacity: 0.8;
  }
}
