<div class="traffic">
  <a routerLink="/" class="traffic__item">
    <div class="traffic__img traffic__img--prim">
      <img src="{{imagesPath}}/prim.svg" alt="По Приморскому краю" />
    </div>
    <h2 class="traffic__title">Грузоперевозки<br class="br br--show-xs">по <span>Приморскому краю</span></h2>
    <p class="traffic__text">рейсовыми междугородними <br class="br br--show-xs">автобусами.</p>
  </a>
  <a routerLink="/services/kce" class="traffic__item">
    <div class="traffic__img traffic__img--rus">
      <img src="{{imagesPath}}/rus.svg" alt="По России" />
    </div>
    <h2 class="traffic__title">Грузоперевозки<br>
      по всей России</h2>
    <p class="traffic__text">экспресс-доставка <br class="br br--show-md br--hide-xl">партнерской <br class="br br--show-xs br--hide-md br--show-xl">службой «КСЭ».</p>
  </a>
</div>
