@import '../../../../../assets/scss/core/functions';
@import "../../../../../assets/scss/core/breakpoints";
@import "../../../../../assets/scss/core/mixins";
@import "../../../../../variables";
@import "../../../../../assets/scss/settings";

.new-order {
  max-height: 340px;
  display: flex;
  flex-direction: column;
  text-align: left;

  p {
    margin: 0.5em 0;
    font-family: $font-family--secondary;
    font-size: 13px;
    line-height: 1.2;
  }

  dl {
    position: relative;
    margin: 0.5em 0;
    font-family: $font-family--secondary;
    font-size: 13px;
    line-height: 1.2;

    &::before {
      content: "";
      display: block;
      clear: both;
    }
  }

  dt {
    margin-right: 5px;
    display: block;
    float: left;
  }

  dd {
    margin-left: 0;
  }

  .gray {
    color: $gray-dark-color;
  }

  .lg {
    font-size: 16px;
  }

  &__scroll {
    height: 100%;
    overflow-y: auto;
  }

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  &__total p {
    font-size: 28px;
  }
}
