<div *ngIf="data && citiesFrom && citiesTo && services && types" class="new-order">
  <div *ngIf="isLoading" class="new-order__loader">
    <app-loader></app-loader>
  </div>
  <ng-container>
    <div class="new-order__scroll">
      <div>
        <ng-container *ngIf="utils.getObjectKey(citiesFrom).length && utils.getObjectKey(citiesTo).length">
          <p class="gray">Направление перевозки:</p>
          <p>г. {{formatCityFrom(currentData)}} - г. {{formatCityTo(currentData)}}</p>
        </ng-container>
        <ng-container>
          <p class="gray">Забор посылки у отправителя - <span style="color: #000000">
            {{OptionName[currentData[FormControlName.DeparturePoint].options.active]}}</span>
          </p>
          <p *ngIf="currentData[FormControlName.DeparturePoint].options.active === 'pickup'">
            <b class="lg">{{calcCourierPrice(currentData, FormControlName.DeparturePoint)}} руб.</b>
          </p>
        </ng-container>
        <ng-container>
          <p class="gray">Доставка посылки до получателя - <span style="color: #000000">
            {{OptionName[data[FormControlName.DeliveryPoint].options.active]}}</span>
          </p>
          <p *ngIf="currentData[FormControlName.DeliveryPoint].options.active === 'delivery'">
            <b class="lg">{{calcCourierPrice(currentData, FormControlName.DeliveryPoint)}} руб.</b>
          </p>
        </ng-container>
      </div>
      <ng-container *ngFor="let order of getOrders(currentData); let groupIndex = index">
        <ng-container *ngIf="order">
          <h3>Заказ №{{groupIndex + 1}}</h3>
          <ng-container>
            <p class="gray">Тип груза:</p>
            <div *ngFor="let cargo of order.cargo | keyvalue: formUtils.originalOrder;">
              <ng-container *ngIf="cargo.value">
                <ng-container *ngIf="cargo.key === Cargo.Docs">
                  <p>{{formatDocs(cargo.value)}}</p>
                </ng-container>
                <ng-container *ngIf="cargo.key === Cargo.Parcels">
                  <p>{{formatParcels(cargo.value)}}</p>
                </ng-container>
                <ng-container *ngIf="cargo.key === Cargo.AutoParts">
                  <p>{{formatAutoparts(cargo.value)}}</p>
                </ng-container>
                <ng-container *ngIf="cargo.key === Cargo.Other">
                  <p>{{formatOther(cargo.value)}}</p>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
          <div *ngIf="formatPackage(order.package).length">
            <p class="gray">Упаковка:</p>
            <dl>
              <ng-container *ngFor="let package of formatPackage(order.package)">
                <dt>{{package.type}} {{package.size}} ({{package.count}} шт.):</dt>
                <dd>
                  <b class="lg">{{package.count * package.price}} руб.</b>
                </dd>
              </ng-container>
            </dl>
          </div>
          <ng-container *ngIf="order.services && formatServices(order.services).length">
            <ng-container *ngFor="let service of formatServices(order.services)">
<!--              <p class="gray">{{service.id === Service.INSURANCE_15 || service.id === Service.INSURANCE_30-->
<!--                ? 'Страхование на сумму ' + (service.value.split(' ').join('') | currency: 'RUB':'symbol-narrow':'1.0':'ru')-->
<!--                :  service.name}}</p>-->
              <p class="gray">{{service.id === Service.INSURANCE_15 || service.id === Service.INSURANCE_30
                ? 'Страхование на сумму ' + service.value + ' руб.' :  service.name}}</p>
              <p><b class="lg">{{service.price}} руб.</b></p>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div class="new-order__total">
      <ng-content select=".total"></ng-content>
    </div>
  </ng-container>
</div>
