<ng-container *ngIf="formGroup" [formGroup]="formGroup">
  <div class="form__field">
    <app-checkbox [formControlName]="FormControlName.Meet" [disabled]="formGroup.get(FormControlName.Meet).value">
      <div class="text">{{title}}</div>
    </app-checkbox>
  </div>
</ng-container>
