<div [formGroup]="formGroup">
  <div class="form__fieldset form__fieldset--address">
    <ng-container *ngFor="let control of formUtils.getGroupControls(formGroup)  | keyvalue: formUtils.originalOrder">
      <div *ngIf="control.key !== FormControlName.CourierTime" class="form__field">
        <label [for]="FormControlName.Courier + '-' + control.key" class="form__label"
               [class.form__label--invalid]="control.value.invalid">
          {{ FormFieldMeta[control.key].label }}
          <sup class="form__required" *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-input [id]="FormControlName.Courier + '-' + control.key"
                   [type]="FormFieldMeta[control.key].type"
                   [formControlName]="control.key"
                   [invalid]="(control.value.invalid && control.value.touched)"
                   [maxlength]="FormFieldMeta[control.key].maxlength"
        >
<!--          <ng-container class="errors">-->
<!--            <small *ngIf="utils.getObjectKey(control.value.errors).length">{{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}</small>-->
<!--          </ng-container>-->
        </app-input>
      </div>
    </ng-container>
  </div>
  <section class="form__fieldset form__fieldset--schedule">
    <label class="form__label form__label--light"
           [class.form__label--invalid]="formGroup.get(FormControlName.CourierTime).invalid">
      Удобное время для приезда курьера
      <sup *ngIf="formGroup.get(FormControlName.CourierTime).errors
        && formGroup.get(FormControlName.CourierTime).hasError('required')">*</sup>
    </label>
    <app-radio-group
      [items]="schedule"
      [name]="id"
      [formControlName]="FormControlName.CourierTime">
    </app-radio-group>
  </section>
</div>
