<div class="partners">
  <div class="partners__item">
    <app-icon name="sber"></app-icon>
  </div>
  <div class="partners__item">
    <app-icon name="aeroflot"></app-icon>
  </div>
  <div class="partners__item">
    <app-icon name="hyperauto"></app-icon>
  </div>
  <div class="partners__item">
    <app-icon name="unilab"></app-icon>
  </div>
</div>
