<div [class]="cssClass" [class.counter--invalid]="invalid" tabindex="0">
  <input *ngIf="device.deviceType === 'mobile'; else desktop"
       #input
       type="number"
       class="counter__input"
       inputmode="numeric"
       [ngModel]="currentCount"
       (ngModelChange)="setCount(input.value)"
       (blur)="onBlur()"
  />
  <ng-template #desktop>
    <input
        type="number"
        class="counter__input"
        inputmode="numeric"
        disabled="true"
        [ngModel]="currentCount"
    />
  </ng-template>
  <button type="button" class="counter__btn" (click)="countDown()">
    <app-icon name="minus" width="19" height="19"></app-icon>
  </button>
  <button type="button" class="counter__btn" (click)="countUp()">
    <app-icon name="plus" width="19" height="19"></app-icon>
  </button>
  <div *ngIf="device.deviceType === 'mobile'" class="counter__overlay" (click)="onFocus()"></div>
</div>
