<article class="point-card">
<!--  <div *ngIf="!data" style="grid-column: 1 / -1;grid-row: 1 / -1;height: inherit;display: flex;justify-content: center;align-items: center;">-->
<!--    <app-loader></app-loader>-->
<!--  </div>-->
  <ng-container *ngIf="data">
    <button type="button" class="point-card__close" (click)="close()">
      <app-icon name="close" width="20" height="20"></app-icon>
    </button>
    <div class="point-card__back">
      <app-btn mods="w-full, back" (click)="close()">
        <app-icon name="back" width="24" height="20"></app-icon>
        Назад
      </app-btn>
    </div>
    <h1 class="point-card__title">{{data.name}}</h1>
    <div class="point-card__contacts">
      <div class="point-card__contact">
        <p class="point-card__text">{{data.address}}</p>
        <app-link (click)="showOnMap(data.id);" mods="lg, gray">Посмотреть на карте</app-link>
        <app-icon name="point" mods="gray" width="16" height="20"></app-icon>
      </div>
      <div class="point-card__contact">
        <p class="point-card__text point-card__text--gray">График работы:</p>
        <p class="point-card__text">{{data.worktime}}</p>
        <app-icon name="alarm" mods="gray" width="20" height="20"></app-icon>
      </div>
      <div class="point-card__contact">
        <p class="point-card__text point-card__text--gray">Контакты для связи:</p>
        <app-link href="tel: {{data.phone}}" mods="lg, no-underline"><b>{{data.phone}}</b></app-link>
        <app-icon name="union" mods="gray" width="20" height="20"></app-icon>
      </div>
      <div class="point-card__contact">
        <p class="point-card__text point-card__text--gray">Почта отделения:</p>
        <app-link href="malto: inbox@busbox.guru" mods="lg, blue, no-underline">inbox@busbox.guru</app-link>
        <app-icon name="email" mods="blue" width="19" height="16"></app-icon>
      </div>
    </div>
    <div class="point-card__info">
      <img class="point-card__img"
           *ngIf="data.id"
           src="{{imagesPath}}/{{data.id}}.jpg"
           srcset="{{imagesPath}}/{{data.id}}@2x.jpg 2x, {{imagesPath}}/{{data.id}}@3x.jpg 3x">
      <p class="point-card__text point-card__text--sm">За содержимое грузов и документов (далее — отправление) несет ответственность лицо, являющееся Отправителем.</p>
    </div>
    <div class="point-card__back">
      <app-btn mods="w-full, back" (click)="close()">
        <app-icon name="back" width="24" height="20"></app-icon>
        Назад
      </app-btn>
    </div>
  </ng-container>
</article>
