@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.point-card {
  position: relative;
  padding-bottom: 20px;
  box-sizing: border-box;

  @include media-breakpoint-up(sm) {
    padding: 20px $container-padding-x 30px $container-padding-x;
    max-width: 570px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: repeat(2, auto);
    background-color: $white-color;
    border-radius: $border-radius;
  }

  @include media-breakpoint-up(md) {
    padding: 30px;
    max-width: 650px;
  }

  @include media-breakpoint-up(lg) {
    padding: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding: 40px 30px 40px 50px;
    max-width: 100%;
    height: 100%;
  }

  &__title {
    margin: 0 0 20px 0;
    grid-column: 1 / -1;
    font-family: $font-family;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 400;
  }

  &__info {
    margin-top: 30px;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-areas:
      ". top-text"
      "icon bottom-text";
    grid-column-gap: 13px;
    grid-row-gap: 4px;

    &:not(:last-child) {
      margin-bottom: 18px;

      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
      }
    }
  }

  &__text {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 1.4;

    &:first-child {
      grid-area: top-text;
    }

    &:first-child + * {
      grid-area: bottom-text;
    }

    &--sm {
      font-size: 14px;
    }

    &--gray {
      color: lighten($gray-dark-color, 10%);
    }
  }

  ::ng-deep app-icon {
    grid-area: icon;
    justify-self: center;
  }

  &__img {
    margin-top: 4px;
    margin-bottom: 10px;
    width: 278px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;

    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }

  &__back {
    margin-bottom: 25px;

    &:last-of-type {
      margin-top: 25px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &__close {
    @include close-button($gray-color);

    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    z-index: 10;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}
