<article [class]="cssClass">
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [disableDefaultUI]="false"
    [gestureHandling]="true"
    [scrollwheel]="false"
    [styles]="[{
      stylers: [{
        saturation: -100
      }]
    }]"
    (mapClick)="mapClick($event)"
  >
    <agm-marker *ngFor="let point of points"
      [title]="point.id"
      [latitude]="point.geo_x"
      [longitude]="point.geo_y"
      iconUrl="{{imagesPath}}/marker.svg"
      (markerClick)="pointChange($event)"></agm-marker>
  </agm-map>
</article>
