<ng-container [formGroup]="formGroup">
  <div class="form__field">
    <label class="form__label"
           [class.form__label--invalid]="formGroup.get(FormControlName.Count).invalid">
      Количество мест
      <sup *ngIf="formGroup.get(FormControlName.Count).errors
        && formGroup.get(FormControlName.Count).hasError('required')">*</sup>
    </label>
    <app-counter
      [formControlName]="FormControlName.Count"
      [invalid]="(formGroup.get(FormControlName.Count).invalid
          && formGroup.get(FormControlName.Count).touched)"
    >
    </app-counter>
  </div>
</ng-container>
