<div class="page__container page__container--col-2">
  <h1 class="page__title">Как отправить посылку</h1>
  <ol class="list list--numbers">
    <li class="list__item">
      <div class="list__content">
        <p>Передать посылку в Баскурьер:</p>
        <ul class="list list--letters">
          <li class="list__item">
            <div class="list__content">
              Если вы хотите, чтобы курьер забрал посылку от вашей
              <br class="br br--show-sm">двери, вы можете <app-link href="/orders/quick-order/new" mods="lg, blue, in-text">оставить заявку</app-link> на вызов курьера.
            </div>
          </li>
          <li class="list__item">
            <div class="list__content">
              <span>Прийти в филиал. </span>
              <app-link mods="lg, blue" (click)="showCitiesModal($event)">Смотреть адреса филиалов</app-link>
            </div>
        </ul>
      </div>
    </li>
    <li class="list__item">Для оформления вам понадобятся документы, <br class="br br--show-sm">удостоверяющие личность (паспорт, военный билет или <br class="br br--show-sm">водительское удостоверение).</li>
    <li class="list__item">Оплата производится только отправителем наличным или <br class="br br--show-sm">безналичным расчетом.</li>
    <li class="list__item">
      <div class="list__content">
        <p>Упаковка груза должна обеспечивать его сохранность. <br class="br br--show-sm">Если у вас нет упаковки, мы ее обязательно предложим.</p>
        <app-link href="/info/packing" mods="lg, blue">Смотреть виды упаковки и стоимость</app-link>
      </div>
    </li>
    <li class="list__item">Груз обязательно предоставляется для осмотра <br class="br br--show-sm">в открытом виде.</li>
    <li class="list__item">
      <div class="list__content">
        <p>Согласно транспортной безопасности есть грузы, <br class="br br--show-sm">которые мы не перевозим.</p>
        <app-link href="/info/rules-of-send" mods="lg, blue">Смотреть запрещенные к перевозке грузы</app-link>
      </div>
    </li>
  </ol>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Правила приемки и отправки грузов'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg, blue">Открыть файл</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
