<div class="contacts-map">
  <div class="contacts-map__header">
    <button *ngIf="points.length" type="button" class="contacts-map__close" (click)="toggleFullMode(false)">
      <app-icon name="close" width="25" height="25"></app-icon>
    </button>
    <button *ngIf="points.length" type="button" class="contacts-map__full" (click)="toggleFullMode(true)">
      <app-icon name="full-screen" width="25px" height="25px"></app-icon>
    </button>
  </div>
  <div class="contacts-map__main">
    <app-map *ngIf="points.length"
      [points]="points"
      [latitude]="(currentPoint && +currentPoint.geo_x) || +points[0].geo_x"
      [longitude]="(currentPoint && +currentPoint.geo_y) || +points[0].geo_y"
      [zoom]="mapZoom"
      [disableDefaultUI]="false"
      [gestureHandling]="true"
      [scrollwheel]="false"
      [styles]="[{
      stylers: [{
        saturation: -100
      }]
    }]"
     (pointClick)="pointClick($event)"
    ></app-map>
  </div>
</div>

