@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.contacts-map {
  position: relative;
  height: inherit;
  left: -15px;
  width: calc(100% + 30px);
  background-color: #dedede;

  @include map-full-mode {
    left: 0;
    width: auto;
  }

  @include media-breakpoint-up(md) {
    left: 0;
    width: auto;
  }

  &__main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$container-padding-x;
    right: -$container-padding-x;
    height: inherit;

    @include map-full-mode {
      right: 0;
      left: 0;
    }

    @include media-breakpoint-up(md) {
      position: static;
    }
  }

  &__main > div {
    height: inherit;
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-breakpoint-up(md) {
      display: none;
    }

    @include map-full-mode {
      padding: 0 $container-padding-x;
      background-color: $white-color;
      box-shadow: $header-shadow;
    }
  }

  &__close {
    @include close-button($gray-color);

    display: none;

    @include map-full-mode {
      display: block;
    }
  }

  &__full {
    @include btn-default();
    @include map-full-mode {
      display: none;
    }

    right: $container-padding-x;
  }

  ::ng-deep &__full svg {
    width: 25px;
    height: 25px;
    fill: rgba($black-color, 0.6);

    &:hover {
      fill: rgba($black-color, 0.7);
    }
  }
}
