<app-modal title="Заказать звонок специалиста" mods="xl" (close)="close()">
  <form action="#"
        class="form form--no-margin"
        autocomplete="off"
        style="margin-top: 20px;"
        [formGroup]="form"
        (submit)="onSubmit()"
  >
    <div class="form__fieldset form__fieldset--2-col-sm">
      <div *ngFor="let control of formUtils.getGroupControls(form)  | keyvalue: formUtils.originalOrder"
           class="form__field" [class.form__field--full]="control.key === FormControlName.Agree">
        <label *ngIf="control.key !== FormControlName.Agree" [for]="control.key" class="form__label">
          {{FormFieldMeta[control.key].label}}
          <sup *ngIf="control.value.errors && control.value.hasError('required')">*</sup>
        </label>
        <app-checkbox
          *ngIf="control.key === FormControlName.Agree; else input"
          [formControlName]="control.key"
          [invalid]="(control.value.invalid && control.value.touched)"
          mods="sm"
        >
          <ng-container class="text">
            Нажимая кнопку «Отправить», я даю свое согласие на
            <app-link href="#" mods="blue, in-text">обработку моих персональных данных</app-link>
          </ng-container>
        </app-checkbox>
        <ng-template #input>
          <app-input
            [type]="FormFieldMeta[control.key].type"
            [id]="control.key"
            [formControlName]="control.key"
            [mask]="FormFieldMeta[control.key].mask" [prefix]="FormFieldMeta[control.key].prefix"
            [invalid]="(control.value.invalid && control.value.touched)"
          >
            <ng-container class="errors">
              <small *ngIf="utils.getObjectKey(control.value.errors).length">
                {{FormFieldError[utils.getObjectKey(control.value.errors)[0]]}}
              </small>
            </ng-container>
          </app-input>
        </ng-template>
      </div>
    </div>
    <div class="form__fieldset form__fieldset--2-col-sm" style="margin-top: 25px;">
      <app-btn type="submit" mods="lg, w-full">Заказать звонок</app-btn>
    </div>
  </form>
</app-modal>
