<aside class="sidebar-result" [class.active]="isContentVisible && !isBreakpointMatched">
  <div class="sidebar-result__link">
    <app-link href="https://busbox.guru/uploads/pages/Расписание_отправлений_Владивосток.pdf" mods="gray">
      Расписание движения рейсовых автобусов
      <app-icon name="info" width="22" height="21"></app-icon>
    </app-link>
    <!--    {{{ link href="#" text="" type="help" mods="gray, align-start"}}}-->
  </div>
  <section class="sidebar-result__main">
    <div *ngIf="!form.value" class="sidebar-result__info">
      <p>Для расчета стоимости отправления, укажите место отправления и прибытия, а также тип груза.</p>
      <p><b>Внимание!</b> Информация, приведенная в калькуляторе справочная, точную информацию по доставкам в населенные пункты вы можете уточнить в чате на сайте или у диспетчера.</p>
      <p>Если вам необходимо отправить посылку между разными регионами России, воспользуйтесь другим калькулятором -
        <app-link href="/services/delivery-russia" mods="blue">расчет перевозки по России.</app-link>
      </p>
    </div>
    <div *ngIf="form.value && !isLoading" class="sidebar-result__details">
      <h2 class="sidebar-result__title">Расчет</h2>
      <app-new-order [data]="form.value"></app-new-order>
    </div>
    <div class="sidebar-result__total" [class.sidebar-result__total--updated]="isTotalSumUpdated">
      <p>
        <ng-container *ngIf="form.value && totalSum && !isLoading">
          <span class="gray">Итого: </span><b>{{totalSum}} руб.</b>
        </ng-container>
        <app-loader *ngIf="isLoading && !isBreakpointMatched" mods="sm"></app-loader>
        <span *ngIf="!isBreakpointMatched && !totalSum && !isLoading" class="gray">Расчет</span>
      </p>
      <button *ngIf="!isBreakpointMatched" type="button"
              class="sidebar-result__collapse" (click)="toggleContent()">&#160;</button>
    </div>
    <div *ngIf="form.value && !isLoading" class="sidebar-result__footer">
<!--      <small>Срок отправки: от 2 до 24 часов<br />*в направлении Владивосток-Находка возможна задержка   сроков до 24 часов.</small>-->
      <ng-container *ngIf="isBreakpointMatched">
        <div class="sidebar-result__submit">
          <app-btn type="button" mods="lg" (click)="completeOrder()">Оформить заказ</app-btn>
        </div>
        <button type="button" class="sidebar-result__reset" (click)="confirmClear()">Сбросить расчет</button>
      </ng-container>
    </div>
    <app-loader *ngIf="isLoading && isBreakpointMatched" mods="sidebar"></app-loader>
  </section>
</aside>
