<article [class]="cssClass">
  <div *ngIf="icon" class="media__img">
    <app-icon name="pdf" width="42px" height="42px"></app-icon>
  </div>
  <h1 class="media__title" *ngIf="data && data.title" [innerHTML]="data.title"></h1>
  <p class="media__text" *ngIf="data && data.text" [innerHTML]="data.text"></p>
  <div class="media__link">
    <ng-content select=".link"></ng-content>
  </div>
</article>
