@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

:host {
  display: contents;
}

.media {
  padding: 23px 30px 28px;
  width: 100%;
  max-width: 370px;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-areas:
    "media-img media-title"
    "media-img media-link";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  align-items: center;
  align-content: start;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  border-radius: $border-radius;

  //& + & {
  //  margin-top: 25px;
  //}

  &--theme-two {
    margin-top: 40px;
    padding: 35px 20px 25px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "media-title media-title"
      "media-img media-link";
    grid-column-gap: 15px;
    max-width: 100%;
    background-color: $primary-color;
  }

  &--no-icon {
    grid-template-columns: 1fr;
    grid-template-areas:
      "media-title"
      "media-text"
      "media-link";
  }

  &__title {
    margin: 0;
    grid-area: media-title;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;

    .media--theme-two & {
      font-family: $font-family;
      font-size: 22px;
      line-height: 26.4px;

      @include media-breakpoint-up(md) {
        font-size: 28px;
        line-height: 33.6px;
      }

      @include media-breakpoint-only(lg) {
        font-size: 24px;
      }
    }
  }

  &__title br {
    display: none;

    @include media-breakpoint-only(md) {
      display: block;
    }

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }

  &__text {
    margin: 0;
    grid-area: media-text;
  }

  &__link {
    grid-area: media-title;

    .media__title + & {
      grid-area: media-link;
    }

    .media__text + & {
      grid-area: media-link;
    }
  }

  &__img {
    margin-top: 2px;
    align-self: start;
    grid-area: media-img;
    justify-self: end;

    //.media--theme-two {
    //  alig
    //}
  }
}


// under list
.media.media--under-list {

  @include media-breakpoint-up(sm) {
    margin-left: $list-number--size + $list-number--gap-sm;
  }

  @include media-breakpoint-up(md) {
    margin-left: $list-number--size + $list-number--gap-md;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 0;
  }
}

.media--theme-two.media--under-list {

  @include media-breakpoint-up(sm) {
    margin-left: 0;
    padding-left: $list-number--size + $list-number--gap-sm;
  }

  @include media-breakpoint-up(md) {
    padding-left: $list-number--size + $list-number--gap-md;
  }
}
