<div [class]="cssClass" [class.text-box--open]="isOpen">
  <div class="text-box__content">
    <ng-content></ng-content>
    <ng-template [ngIf]="isOpen">
      <ng-content select=".hidden"></ng-content>
    </ng-template>
  </div>
  <button type="button" class="text-box__btn" (click)="toggle()">
    {{ isOpen ? 'Свернуть текст' : 'Читать подробнее' }}
    <app-icon name="more" width="32" height="32"></app-icon>
  </button>
</div>
