<div style="display: flex;flex-direction: column;">
  <div class="page__container" style="width: 100%">
    <h1 class="page__title">Работа в команде Баскурьер</h1>
  </div>
  <div class="page__container page__container--col-2" style="width: 100%">
    <p class="page__text">Баскурьер - это единственная в России <br class="br br--show-xs br--hide-md">официальная служба сверхсрочной <br class="br br--show-xs br--hide-lg">доставки грузов междугородними <br class="br br--show-xs br--hide-md">рейсовыми автобусами!</p>
    <p class="page__text page__text--work-since"><b>Мы работаем с 2013 года</b></p>
  </div>
  <app-achievements></app-achievements>
  <app-departments></app-departments>
  <app-work-banner></app-work-banner>
  <app-work-in-team></app-work-in-team>
</div>
