<ul class="services">
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="to-door" width="50" height="50"></app-icon>
    </div>
    <h3 class="services__title">Доставка от двери<br class="br br--show-xs"/>до двери</h3>
    <p class="services__text">Курьер заберет вашу посылку и&nbsp;доставит её до&nbsp;двери получателя.</p>
  </li>
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="sms" width="52" height="51"></app-icon>
    </div>
    <h3 class="services__title">SMS-уведомления<br class="br br--show-xs"/>о статусе доставки</h3>
    <p class="services__text">Вы&nbsp;знаете о&nbsp;всех этапах движения посылки. SMS-уведомления получают отправитель и&nbsp;получатель.</p>
  </li>
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="to-box" width="50" height="50"></app-icon>
    </div>
    <h3 class="services__title">Упаковка грузов</h3>
    <p class="services__text">Подберем оптимальную упаковку для вашего груза и&nbsp;бережно запакуем его.</p>
    <div class="services__toggle">
      <app-link href="/info/packing" mods="gray">
        <app-icon name="info" width="22" height="21"></app-icon>
        Виды упаковки и стоимость
      </app-link>
    </div>
  </li>
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="storage" width="55" height="55"></app-icon>
    </div>
    <h3 class="services__title">Складское<br class="br br--show-xs">хранение грузов</h3>
    <p class="services__text">Бесплатное хранение вашего груза в&nbsp;течение суток.</p>
  </li>
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="from-airport" width="70" height="42"></app-icon>
    </div>
    <h3 class="services__title">Доставка<br class="br br--show-xs" />из аэропорта</h3>
    <p class="services__text">Забор груза из&nbsp;Аэропорта и Карго&nbsp;-&nbsp;Владивосток, прохождение необходимых процедур.</p>
  </li>
  <li class="services__item">
    <div class="services__icon">
      <app-icon name="disk" width="51" height="51"></app-icon>
    </div>
    <h3 class="services__title">Страхование груза</h3>
    <p class="services__text">Страховая защита груза и&nbsp;максимально быстрое возмещение ущерба.</p>
  </li>
</ul>
