@import 'src/assets/scss/core/functions';
@import "src/assets/scss/core/breakpoints";
@import "src/assets/scss/core/mixins";
@import "src/variables";
@import "src/assets/scss/settings";

.services {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  display: grid;
  grid-row-gap: 35px;
  font-family: $font-family--secondary;
  list-style: none;

  @include media-breakpoint-up(md) {
    margin-top: 35px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @include media-breakpoint-up(lg) {
    margin-top: 55px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  &__item {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 25px;

    @include media-breakpoint-up(md) {
      grid-column-gap: 20px;
    }
  }

  &__icon {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: center;
  }

  ::ng-deep &__icon svg {
    width: 100%;
  }

  &__title {
    margin: 0;
    font-size: 22px;
    line-height: 1.25;
    font-weight: 700;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  &__text {
    margin: 10px 0 0 0;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 20px;

    @include media-breakpoint-up(md) {
      margin-right: 20px;
    }
  }

  &__toggle {
    margin-top: 10px;
  }
}
