<form action="#" class="form form--cities form--no-margin" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="form__title">Рассчитайте стоимость</h2>
  <label class="form__label form__label--light">Откуда отправляем?</label>
  <div class="form__fieldset form__fieldset--row-gap-sm" style="margin-bottom: 15px">
    <div class="form__field">
      <app-select [items]="citiesFrom"
        [formControlName]="FormControlName.CityFrom"
        (change)="setCityFrom(form.get(FormControlName.CityFrom).value)"
        [invalid]="(form.get(FormControlName.CityFrom).invalid
        && form.get(FormControlName.CityFrom).touched)"
        mods="no-shadow"
      >
        <app-loader *ngIf="!citiesFrom.length" mods="sm, yellow"></app-loader>
      </app-select>
    </div>
  </div>
  <div [@fadeIn]="">
    <label class="form__label form__label--light">Куда отправляем?</label>
    <div class="form__fieldset form__fieldset--row-gap-sm">
      <div class="form__field">
        <app-select [items]="citiesTo"
                    [formControlName]="FormControlName.CityTo"
                    (change)="setCityTo(form.get(FormControlName.CityTo).value)"
                    [invalid]="(form.get(FormControlName.CityTo).invalid
                     && form.get(FormControlName.CityTo).touched)"
                    [disabled]="!currentCityFrom"
                    mods="no-shadow, inverted"
        >
          <app-loader *ngIf="currentCityFrom && !citiesTo.length" mods="sm, yellow"></app-loader>
        </app-select>
      </div>
    </div>
  </div>
  <div style="margin-top: 30px;">
    <app-btn type="submit" mods="lg, black" [disabled]="form.invalid">Рассчитать</app-btn>
  </div>
</form>
