<section class="promo">
  <div class="promo__inner">
    <div class="promo__info">
      <h1 class="promo__title">Срочная доставка<br /> по Приморскому краю и в Хабаровск</h1>
      <p class="promo__text"><span>от 2 до 24 часов</span> рейсовыми автобусами</p>
      <img class="promo__img"
           src="{{imagesPath}}/bus-sm.jpg"
           srcset="{{imagesPath}}/bus-sm@2x.jpg 2x, {{imagesPath}}/bus-sm@3x.jpg 3x">
      <ul class="promo__list">
        <li>
          <app-icon name="parcel" width="28" height="28"></app-icon>
          <span>Посылки</span>
        </li>
        <li>
          <app-icon name="docs" width="28" height="28"></app-icon>
          <span>Документы</span>
        </li>
        <li>
          <app-icon name="box" width="28" height="28"></app-icon>
          <span>Грузы</span>
        </li>
      </ul>
    </div>
    <div class="promo__form">
      <app-form-cities></app-form-cities>
    </div>
  </div>
</section>
