<ng-container [formGroup]="formGroup">
  <section class="form__section">
    <div class="form__fieldset form__fieldset--goods-type">
      <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
      <app-radio *ngFor="let control of cargo.controls | keyvalue: formUtils.originalOrder;"
                 [id]="control.key"
                 [name]="'cargo-type'"
                 (change)="setCargoType($event, control.key)"
                 [checked]="control.key === formGroup.get('activeCargo').value"
                 [invalid]="control.value.invalid"
      >
        {{CargoName[control.key]}}
      </app-radio>
    </div>
    <div formGroupName="cargo">
      <ng-container *ngFor="let control of
        formUtils.getGroupControls(formGroup.get('cargo')) | keyvalue: formUtils.originalOrder;">
        <div *ngIf="formGroup.get('activeCargo').value === control.key" [@fadeIn]="">
          <app-docs-form *ngIf="control.key === Cargo.Docs" [formControlName]="control.key"></app-docs-form>
          <app-parcels-form *ngIf="control.key === Cargo.Parcels" [departure]="departure" [delivery]="delivery" [formControlName]="control.key"></app-parcels-form>
          <app-auto-parts-form *ngIf="control.key === Cargo.AutoParts" [types]="types" [departure]="departure" [delivery]="delivery" [formControlName]="control.key"></app-auto-parts-form>
          <app-other-form [types]="types" *ngIf="control.key === Cargo.Other" [formControlName]="control.key"></app-other-form>
        </div>
      </ng-container>
    </div>
  </section>
  <app-packaging-form [services]="services" [formControlName]="FormControlName.Package"></app-packaging-form>
  <app-services-form [services]="services" formControlName="services"></app-services-form>
</ng-container>
