<div class="work-in-team">
  <div class="work-in-team__container">
    <div class="work-in-team__main">
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Мы предлагаем:</h3>
        <app-list [data]="items[0]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Тебе и твоим коллегам предстоит:</h3>
        <app-list [data]="items[1]"></app-list>
      </div>
      <div class="work-in-team__list">
        <h3 class="work-in-team__title">Ты - наш человек, если:</h3>
        <app-list [data]="items[2]"></app-list>
      </div>
    </div>
    <div class="work-in-team__footer">
      <app-media [data]="{
        title: 'Хотите присоединиться к нашей команде?',
        text: 'Отправляйте своё резюме на почту!'
        }" mods="theme-two, no-icon, under-list" [icon]="false">
        <ng-container class="link">
          <app-link href="mailto: personal@untd.pro" mods="lg">personal@untd.pro</app-link>
          <p style="display: inline-block; margin: 0 10px;">или</p> <app-link mods="lg" (click)="showResumeModal()">заполните форму</app-link>
        </ng-container>
      </app-media>
    </div>
  </div>
</div>
