<section class="thanks-block">
  <div class="thanks-block__icon">
    <app-icon name="thanks" width="135" height="150"></app-icon>
  </div>
  <div class="thanks-block__main">
    <h2 class="thanks-block__title">Ой, что-то пошло не так!</h2>
    <p>Ошибка оформления заявки <b>№2174373</b></p>
    <p>Попробуйте еще раз или свяжитесь с нашим менеджером!</p>
    <app-btn type="button" mods="lg" (click)="goTo()">Поробовать еще раз!</app-btn>
  </div>
  <div class="thanks-block__aside">

  </div>
</section>
