<div class="form__fieldset form__fieldset--department" [formGroup]="formGroup">
<!--  form__fieldset form__fieldset&#45;&#45;row-gap-lg-->
  <div class="form__field">
    <label *ngIf="!noLabel" for="departure-location" class="form__label"
           [class.form__label--invalid]="formGroup.get(FormControlName.Location).invalid">
      Населенный пункт
      <sup *ngIf="formGroup.get(FormControlName.Location).errors
        && formGroup.get(FormControlName.Location).hasError('required')">*</sup>
    </label>
    <app-select
      type="text"
      [items]="cities"
      id="departure-location"
      (change)="setTabs(formGroup.get(FormControlName.Location).value)"
      [formControlName]="FormControlName.Location"
      [invalid]="(formGroup.get(FormControlName.Location).invalid
        && formGroup.get(FormControlName.Location).touched)"
    >
<!--      <ng-container class="errors">-->
<!--        <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.Location).errors).length">-->
<!--          {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.Location).errors)[0]]}}-->
<!--        </small>-->
<!--      </ng-container>-->
      <app-loader *ngIf="!cities.length" mods="sm"></app-loader>
    </app-select>
  </div>
  <ng-container *ngIf="formGroup.get(FormControlName.Location).value">
    <ng-container [formGroupName]="FormControlName.Options">
      <div class="form__tabs" [@fadeIn]="">
        <ng-container *ngFor="let control of formUtils.getGroupControls(options) | keyvalue: formUtils.originalOrder">
          <label *ngIf="control.key !== FormControlName.Active" class="form__tab">
            <input type="radio"
                   [checked]="options.get(FormControlName.Active).value === control.key"
                   [name]="FormControlName.Active"
                   [value]="control.key"
                   (change)="changeType(control.key)"
                   [formControlName]="FormControlName.Active" hidden />
            <div>{{TabName[control.key]}}</div>
          </label>
        </ng-container>
      </div>
      <ng-container *ngFor="let control of formUtils.getGroupControls(options) | keyvalue: formUtils.originalOrder">
        <div class="form__panel" *ngIf="options.get(FormControlName.Active).value === control.key" [@fadeIn]="">
          <ng-container *ngIf="control.key === 'give'; else courier">
            <app-department-form [offices]="departments" [formControlName]="control.key"></app-department-form>
          </ng-container>
          <ng-template #courier>
            <app-courier-form id="departure" [formControlName]="control.key"></app-courier-form>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>
    <div class="form__field" [@fadeIn]="">
      <label for="departure-date" class="form__label"
             [class.form__label--invalid]="formGroup.get(FormControlName.Date).invalid"
      >Дата отправки
        <sup *ngIf="formGroup.get(FormControlName.Date).errors
        && formGroup.get(FormControlName.Date).hasError('required')">*</sup>
      </label>
      <app-datepicker
        id="departure-date"
        [formControlName]="FormControlName.Date"
        [invalid]="formGroup.get(FormControlName.Date).invalid && formGroup.get(FormControlName.Date).touched">
        <ng-container class="errors">
          <small *ngIf="utils.getObjectKey(formGroup.get(FormControlName.Date).errors).length">
            {{FormFieldError[utils.getObjectKey(formGroup.get(FormControlName.Date).errors)[0]]}}
          </small>
        </ng-container>
      </app-datepicker>
    </div>
  </ng-container>
</div>
