<div class="page__container page__container--col-2">
  <h1 class="page__title">Правила приёмки и отправки <br class="br br--show-sm br--hide-md br--show-lg">грузов в компании Баскурьер</h1>
</div>
<div class="page__container page__container--col-2">
  <div class="page__content">
    <ol class="list list--numbers">
      <li class="list__item">За содержимое грузов и документов (далее — отправление) несет ответственность лицо, являющееся Отправителем.</li>
      <li class="list__item">
        <div class="list__content">
          <p>К отправке не принимаются следующие грузы (отправления):</p>
          <ul class="list list--letters">
            <li class="list__item">огнестрельное, сигнальное, пневматическое, газовое оружие, боеприпасы, холодное оружие (включая метательное), электрошоковые устройства и искровые разрядники, а также основные части огнестрельного оружия;</li>
            <li class="list__item">наркотические средства, психотропные, сильнодействующие, радиоактивные, взрывчатые, ядовитые, едкие, легковоспламеняющиеся и другие опасные вещества; </li>
            <li class="list__item">ядовитые животные и растения;</li>
            <li class="list__item">денежные знаки Российской Федерации и иностранная валюта;</li>
            <li class="list__item">скоропортящиеся продукты питания, алкоголь и спиртосодержащие напитки;</li>
            <li class="list__item">предметы и вещества, которые по своему характеру или упаковке могут представлять опасность для сотрудников Курьерской службы и третьих лиц, загрязнять или портить (повреждать) другие отправления (грузы);</li>
            <li class="list__item">драгоценные металлы;</li>
            <li class="list__item">антиквариат, предметы старины, коллекционные предметы;</li>
            <li class="list__item">Курьерская служба вправе отказать в приеме груза (отправления) при несоответствии его содержимого, заявленного в накладной, и сопровождающих документов. </li>
            <li class="list__item">Груз (отправление) должен быть досмотрен сотрудниками Курьерской службы в целях безопасности или по требованию уполномоченных государственных органов Российской Федерации. Груз обязан вскрывать отправитель. Если отправитель отказывается вскрывать, компания оставляет за собой право не отправлять данный груз. </li>
          </ul>
        </div>
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>Курьерская служба вправе отказать в приеме груза (отправления) при несоответствии его содержимого, заявленного в накладной, и сопровождающих документов.</p>
          <p>Груз (отправление) должен быть досмотрен сотрудниками Курьерской службы в целях безопасности или по требованию уполномоченных государственных органов Российской Федерации. Груз обязан вскрывать отправитель. Если отправитель отказывается вскрывать, компания оставляет за собой право не отправлять данный груз.</p>
        </div>
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>Заказчик должен точно и полно указать все данные, внесенные в накладную, и правильно указать контактную информацию грузоотправителя и грузополучателя.</p>
          <p>Грузоотправитель/заказчик должен обеспечить надлежащую упаковку и маркировку мест груза, описание и классификацию содержимого каждого места груза таким образом, чтобы они были пригодны для транспортировки и соответствовали требованиям  действующего законодательства.</p>
        </div>
      </li>
      <li class="list__item">
        <div class="list__content">
          <p>Заказчик должен точно и полно указать все данные, внесенные в накладную, и правильно указать контактную информацию грузоотправителя и грузополучателя.</p>
          <p>Грузоотправитель/заказчик должен обеспечить надлежащую упаковку и маркировку мест груза, описание и классификацию содержимого каждого места груза таким образом, чтобы они были пригодны для транспортировки и соответствовали требованиям  действующего законодательства.</p>
        </div>
      </li>
      <li class="list__item">Упаковка груза должна обеспечивать его сохранность в процессе доставки и исключать возможность причинения вреда или повреждения другим грузам. В случае если сохранность груза при его транспортировке не была обеспечена упаковкой, то при страховании данного отправления (груза), такой случай страховым являться не будет.</li>
      <li class="list__item">Заказчик согласен с тем,  что Курьерская служба не принимает каких-либо дополнительных мер при доставке грузов, требующих специального хранения и транспортировки (скоропортящихся и термочувствительных грузов), и не несет ответственности  за их содержимое.</li>
      <li class="list__item">Курьерская служба не несет ответственности за недостоверное указание Заказчиком (Отправителем) реквизитов получателя, пункта назначения (адреса), веса и характера груза, а также за все вытекающие из этого случаи задержки в перевозке грузов, за невыполнение нормативных сроков перевозки, сохранность и прочие вытекающие от сюда последствия. </li>
      <li class="list__item">Курьерская служба не несет ответственности за груз, который не был получен получателем в пункте назначения по вине получателя. Возврат такого груза в пункт отправления не является обязанностью Курьерской службы и производится по возможности.</li>
      <li class="list__item">
        <div class="list__content">
          <p>Курьерская служба несет ответственность (в виде возмещения реального ущерба )за утрату, недостачу или повреждение (порчу) груза с момента его приёмки  до выдачи груза Получателю, указанному в накладной, если не докажет, что утрата, недостача или повреждение (порча) груза произошла  вследствие обстоятельств, которые  Курьерская служба не  смогла предотвратить  и устранение которых от нее не зависело, в следующих размерах:</p>
          <p>за недостачу, повреждение груза, принятого Курьерской службой с объявлением ценности (страхование груза), —  в размере объявленной ценности или части объявленной ценности, пропорциональной недостающей части груза.</p>
          <p>Ответственность Курьерской службы за недостачу или повреждение (порчу) груза  не может превышать 2 500,00 рублей за одно отправление, если Заказчик не застраховал отправление.</p>
          <p>Потеря груза не является страховым случаем.</p>
        </div>
      </li>
      <li class="list__item">Баскурьер осуществляет страхование грузов в соответствии с условиями, прописанными в генеральном  Договоре страхования грузов,  заключенном между ООО «Регион-Курьер» и Дальневосточным региональным филиалом ОАО «САК «ЭНЕРГОГАРАНТ» «Дальэнергогарант»,  и «Правилах страхования грузов», утвержденных Приказом ОАО «САК «ЭНЕРГОГАРАНТ» № 146 от 13.07.2010г. </li>
      <li class="list__item">Максимальные габариты и вес отправлений устанавливаются Курьерской службой и могут изменяться в зависимости от направления.</li>
      <li class="list__item">В случае возникновения во время хранения и доставки отправления форс-мажорных обстоятельств, предусмотренных действующим законодательством, Курьерская служба не несет ответственности.</li>
      <li class="list__item">Хранение отправлений в пунктах выдачи свыше суток с момента доставки оплачивается Получателем отдельно,  в соответствии с тарифами, установленными Курьерской службой, а именно 100 рублей за каждые последующие сутки.</li>
      <li class="list__item">В целях  повышения сохранности грузов Отправитель может оплачивать дополнительную упаковку по тарифам, установленным Курьерской службой.</li>
      <li class="list__item">В случае возврата груза в офис Курьерской службы (в связи с опозданием Получателя или по  иным причинам,  не зависящим от Курьерской службы) Отправителем оплачивается повторная отправка груза.</li>
      <li class="list__item">Отправка грузов и документов осуществляется исключительно по предъявлении документа,  удостоверяющего личность (паспорт или водительское удостоверение).</li>
    </ol>
    <app-media [data]="{title: 'Вы можете скачать файл «Правила приемки<br /> и отправки грузов» в формате PDF'}" mods="under-list, theme-two">
      <ng-container class="link">
        <app-link href="https:\\busbox.guru\uploads\pages\Правила приемки грузов.pdf" mods="lg">Скачать</app-link>
      </ng-container>
    </app-media>
  </div>
  <aside class="page__sidebar">
    <app-media [data]="{title: 'Правила приемки и отправки грузов'}">
      <ng-container class="link">
        <app-link href="https://busbox.guru/uploads/pages/Правила_приёмки_и_отправки_грузов_Баскурьер.pdf" mods="lg, blue">Открыть файл</app-link>
      </ng-container>
    </app-media>
  </aside>
</div>
