<app-modal mods="lg" title="Калькулятор КСЕ" (close)="close()">
  <app-loader *ngIf="!loaded" mods="kce"></app-loader>
  <div style="width: 100%; overflow-x: auto">
    <iframe src="https://lk.cse.ru/cse/calc" width="500px" [height]="loaded ? '500px' : 0" frameborder="0" (load)="onLoad()"></iframe>
  </div>
</app-modal>
