<div [class]="cssClass" (click)="goTo()">
  <div class="account-media__img">
    <ng-content select="app-icon"></ng-content>
  </div>
  <div class="account-media__body">
    <h2 class="account-media__title">{{title}}</h2>
    <p class="account-media__text">
      <ng-content></ng-content>
    </p>
  </div>
</div>
