<app-modal mods="content-center" title="№614933" (close)="close()">
<!--  <app-order-result>-->
<!--    <ng-container class="total">-->
<!--      <p><span class="gray">Итого: </span><b>1 550 руб.</b></p>-->
<!--    </ng-container>-->
<!--  </app-order-result>-->
  <div style="margin-top: 50px;">
    <app-btn type="button" mods="black, lg" (click)="cancelOrder()">Отменить заказ</app-btn>
  </div>
</app-modal>
